Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2023-10, with the labels that each got.

#965 Add JSON Schema Support to Clion
  .gitignore
  .idea/jsonSchemas.xml
Labels: Build System/DevEx

#1002 macOS fixes #2
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  docker-compose.yaml
  environment/environment_container.md
  environment/legacy_setup.md
  firmware/shared/src/app/App_SharedSetPeriodicCanSignals.c
  launch_stm32cubemx.sh
  start_environment.sh
Labels: Build System/DevEx

#1000 A Transparent Build System
  .github/workflows/bin-dbc-gen.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  Pipfile
  firmware/CMakeLists.txt
  install.txt
  scripts/CMakeLists.txt
  scripts/code_generation/CMakeLists.txt
Labels: Build System/DevEx

#1018 Jiajun/build system refactor
  firmware/CMakeLists.txt
  firmware/shared/CMakeLists.txt
  firmware/thruna/BMS/CMakeLists.txt
  firmware/thruna/DCM/CMakeLists.txt
  firmware/thruna/DIM/CMakeLists.txt
  firmware/thruna/FSM/CMakeLists.txt
  firmware/thruna/GSM/CMakeLists.txt
  firmware/thruna/PDM/CMakeLists.txt
Labels: Build System/DevEx

#1023 Refactor sockets to api
  software/tracksight/backend/app/telemetry.py
  software/tracksight/frontend/src/app/components/dropdown_menu.tsx
  software/tracksight/frontend/src/app/components/graph.tsx
  software/tracksight/frontend/src/app/components/query_data.tsx
  software/tracksight/frontend/src/app/components/web_socket.tsx
  software/tracksight/frontend/src/app/page.tsx
Labels: Telemetry

#1030 Changed typing in supported_boards.py util to support Python 3.8.
  scripts/utilities/supported_boards.py
Labels: Build System/DevEx

#1014 Release DBC for open PRs
  .github/actions/push_release/action.yml
  .github/workflows/bin-dbc-gen.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/dbc-gen.yml
  .github/workflows/dbc-release.yml
  .github/workflows/dbc-removal.yml
  .github/workflows/master_cd.yml
  README.md
  environment/Dockerfile
Labels: Build System/DevEx

#1026 Improve VS Code intellisense
  .vscode/c_cpp_properties.json
  .vscode/cmake-variants.yaml
  .vscode/settings.json
Labels: Build System/DevEx

#1028 MF4 Log Parsing
  software/tracksight/.gitignore
  software/tracksight/backend/app/dbcs/canMsgs.dbc
  software/tracksight/backend/app/mf4_logs/README.md
  software/tracksight/backend/app/process/parseMF4Files.py
  software/tracksight/backend/environment.yml
Labels: Telemetry

#1024 Latching faults and warnings
  can_bus/json/BMS/BMS_alerts.json
  can_bus/json/BMS/BMS_tx.json
  can_bus/json/DCM/DCM_alerts.json
  can_bus/json/DIM/DIM_alerts.json
  can_bus/json/Debug/Debug_alerts.json
  can_bus/json/FSM/FSM_alerts.json
  can_bus/json/GSM/GSM_alerts.json
  can_bus/json/PDM/PDM_alerts.json
  firmware/thruna/BMS/Src/App/App_Accumulator.c
  firmware/thruna/BMS/Src/App/App_PreChargeRelay.c
  firmware/thruna/BMS/Src/App/App_TractiveSystem.c
  firmware/thruna/BMS/Src/App/states/App_AllStates.c
  firmware/thruna/BMS/Src/App/states/App_ChargeState.c
  firmware/thruna/BMS/Src/App/states/App_FaultState.c
  firmware/thruna/BMS/Src/App/states/App_PreChargeState.c
  firmware/thruna/BMS/Src/Io/Io_SoftwareWatchdog.c
  firmware/thruna/BMS/Src/Io/Io_StackWaterMark.c
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/BMS/Test/Src/Test_Faults.cpp
  firmware/thruna/BMS/Test/Src/Test_StateMachine.cpp
  firmware/thruna/DCM/Src/App/states/App_AllStates.c
  firmware/thruna/DCM/Src/Io/Io_SoftwareWatchdog.c
  firmware/thruna/DCM/Src/Io/Io_StackWaterMark.c
  firmware/thruna/DCM/Src/main.c
  firmware/thruna/DIM/src/app/states/app_driveState.c
  firmware/thruna/DIM/src/cubemx/Src/main.c
  firmware/thruna/DIM/src/io/io_stackWaterMark.c
  firmware/thruna/DIM/src/io/io_watchdogConfig.c
  firmware/thruna/DIM/test/test_ledStatus.cpp
  firmware/thruna/FSM/Src/App/App_AcceleratorPedals.c
  firmware/thruna/FSM/Src/App/App_Brake.c
  firmware/thruna/FSM/Src/App/App_Coolant.c
  firmware/thruna/FSM/Src/App/App_Steering.c
  firmware/thruna/FSM/Src/App/App_Wheels.c
  firmware/thruna/FSM/Src/App/states/App_AllStates.c
  firmware/thruna/FSM/Src/App/states/App_FaultState.c
  firmware/thruna/FSM/Src/Io/Io_SoftwareWatchdog.c
  firmware/thruna/FSM/Src/Io/Io_StackWaterMark.c
  firmware/thruna/FSM/Src/main.c
  firmware/thruna/FSM/Test/Src/Test_Faults.cpp
  firmware/thruna/FSM/Test/Src/Test_StateMachine.cpp
  firmware/thruna/PDM/Src/Io/Io_SoftwareWatchdog.c
  firmware/thruna/PDM/Src/Io/Io_StackWaterMark.c
  firmware/thruna/PDM/Src/main.c
  scripts/code_generation/jsoncan/docs/5_alerts_schema.md
  scripts/code_generation/jsoncan/docs/6_conventions.md
  scripts/code_generation/jsoncan/src/codegen/c_generation/app_can_alerts_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/c_config.py
  scripts/code_generation/jsoncan/src/json_parsing/json_can_parsing.py
  scripts/code_generation/jsoncan/src/json_parsing/schema_validation.py
Labels: CAN

#1025 Faults cause exit DCM drive state (not opening contactors)
  can_bus/json/DCM/DCM_alerts.json
  can_bus/json/DCM/DCM_enum.json
  firmware/thruna/BMS/Src/App/states/App_AllStates.c
  firmware/thruna/BMS/Src/App/states/App_PreChargeState.c
  firmware/thruna/BMS/Test/Src/Test_Faults.cpp
  firmware/thruna/DCM/Inc/App/states/App_FaultState.h
  firmware/thruna/DCM/Src/App/states/App_AllStates.c
  firmware/thruna/DCM/Src/App/states/App_DriveState.c
  firmware/thruna/DCM/Src/App/states/App_FaultState.c
  firmware/thruna/DCM/Src/App/states/App_InitState.c
  firmware/thruna/DCM/Test/Src/Test_StateMachine.cpp
Labels: DCM

#1038 Enable PLL to get high speed clock on FSM
  firmware/thruna/FSM/FSM.ioc
  firmware/thruna/FSM/Inc/main.h
  firmware/thruna/FSM/Src/main.c
Labels: FSM

#1047 Fix Root Level CMake for Linux and Update Required Version
  CMakeLists.txt
Labels: Build System/DevEx

#1022 Liam/commit info
  Pipfile
  can_bus/json/BMS/BMS_tx.json
  can_bus/json/DCM/DCM_tx.json
  can_bus/json/DIM/DIM_tx.json
  can_bus/json/FSM/FSM_tx.json
  can_bus/json/GSM/GSM_tx.json
  can_bus/json/PDM/PDM_tx.json
  environment/requirements.txt
  firmware/CMakeLists.txt
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/DCM/Src/main.c
  firmware/thruna/DIM/src/app/states/app_driveState.c
  firmware/thruna/FSM/Src/main.c
  firmware/thruna/PDM/Src/main.c
  scripts/code_generation/commit_info_gen/README.md
  scripts/code_generation/commit_info_gen/examples/example_header.h
  scripts/code_generation/commit_info_gen/examples/example_source.c
  scripts/code_generation/commit_info_gen/src/generate_commit_info.py
  scripts/code_generation/commit_info_gen/src/templates/App_CommitInfo.c.j2
  scripts/code_generation/commit_info_gen/src/templates/App_CommitInfo.h.j2
Labels: CAN

#1052 Hook in old influxdb
  software/tracksight/backend/app/influx_handler.py
  software/tracksight/backend/app/telemetry.py
  software/tracksight/backend/environment.yml
  software/tracksight/frontend/package-lock.json
  software/tracksight/frontend/package.json
  software/tracksight/frontend/src/app/components/dropdown_menu.tsx
  software/tracksight/frontend/src/app/components/graph.tsx
  software/tracksight/frontend/src/app/components/query_data.tsx
  software/tracksight/frontend/src/app/components/timestamp_picker.tsx
  software/tracksight/frontend/src/app/globals.css
  software/tracksight/frontend/yarn.lock
Labels: Telemetry

#1054 Add littlefs into our system
  .gitmodules
  firmware/third_party/CMakeLists.txt
Labels: Build System/DevEx

#1037 Shayan accelerator pedal
  firmware/CMakeLists.txt
  firmware/thruna/FSM/Inc/Io/Io_AcceleratorPedals.h
  firmware/thruna/FSM/Src/Io/Io_AcceleratorPedals.c
  firmware/thruna/FSM/Src/main.c
Labels: FSM
