Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2023-11, with the labels that each got.

#1060 Dependency Rework for CMake
  .github/workflows/master_cd.yml
  CMakeLists.txt
  firmware/CMakeLists.txt
  firmware/cmake/dependencies.cmake
  scripts/utilities/generate_cube_code.py
Labels: Build System/DevEx

#1058 Platform Independent JSONCAN
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/DCM/Src/main.c
  firmware/thruna/DIM/src/cubemx/Src/main.c
  firmware/thruna/FSM/Src/main.c
  firmware/thruna/PDM/Src/main.c
  scripts/code_generation/jsoncan/src/codegen/c_generation/c_config.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/io_can_tx_module.py
Labels: Build System/DevEx, CAN

#1059 Commit Info on CI
  .github/workflows/build.yml
  .github/workflows/ci.yml
Labels: Build System/DevEx

#1067 Add error handling
  software/tracksight/backend/app/influx_handler.py
  software/tracksight/backend/app/telemetry.py
  software/tracksight/frontend/src/app/components/graph.tsx
  software/tracksight/frontend/src/app/components/query_data.tsx
  software/tracksight/frontend/src/app/page.tsx
Labels: Telemetry

#1029 IO LTC6813 Restructure
  README.md
  can_bus/json/INVL/INVL_tx.json
  can_bus/json/INVR/INVR_tx.json
  firmware/thruna/BMS/Inc/App/App_Accumulator.h
  firmware/thruna/BMS/Inc/Io/Io_LTC6813/Io_LTC6813CellVoltages.h
  firmware/thruna/BMS/Src/App/App_Accumulator.c
  firmware/thruna/BMS/Src/Io/Io_LTC6813/Io_LTC6813CellVoltages.c
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/BMS/Test/Src/Test_Faults.cpp
  firmware/thruna/BMS/Test/Src/Test_StateMachine.cpp
  scripts/code_generation/jsoncan/src/codegen/dbc_generation/dbc_generation.py
Labels: BMS

#1075 Fix GitHub workflow
  .github/workflows/master_cd.yml
Labels: Build System/DevEx

#1057 Add support for STM32H733xx
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  firmware/CMakeLists.txt
  firmware/cmake/embedded.cmake
  firmware/dev/CMakeLists.txt
  firmware/dev/h7dev/CMakeLists.txt
  firmware/dev/h7dev/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/dev/h7dev/src/cubemx/Inc/main.h
  firmware/dev/h7dev/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/dev/h7dev/src/cubemx/Inc/stm32h7xx_it.h
  firmware/dev/h7dev/src/cubemx/Src/freertos.c
  firmware/dev/h7dev/src/cubemx/Src/main.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_hal_timebase_tim.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_it.c
  firmware/dev/h7dev/src/cubemx/Src/syscalls.c
  firmware/dev/h7dev/src/cubemx/Src/system_stm32h7xx.c
  firmware/dev/h7dev/src/cubemx/h7dev.ioc
  firmware/shared/src/hw/hw_hal.h
  firmware/third_party/linker/STM32H733VGTX_FLASH.ld
  scripts/utilities/generate_cube_code.py
  scripts/utilities/supported_boards.py
  tools/openocd/stm32h7x.cfg
Labels: Build System/DevEx

#1084 Dimos CAN
  can_bus/json/dimos/dimos_tx.json
  software/dimos/cmake/qt.cmake
  software/dimos/src/dev_io/can.cpp
  software/dimos/src/ui/main.cpp
  software/dimos/src/ui/mainwindow/mainwindow.cpp
  software/dimos/src/ui/mainwindow/mainwindow.h
Labels: DIM

#988 BMS Coulomb Counting SOC
  can_bus/json/BMS/BMS_rx.json
  can_bus/json/BMS/BMS_tx.json
  can_bus/json/Debug/Debug_tx.json
  firmware/shared/src/app/App_SharedProcessing.h
  firmware/shared/test/Test_TrapezoidalRule.cpp
  firmware/thruna/BMS/Inc/App/App_BmsWorld.h
  firmware/thruna/BMS/Inc/App/App_Eeprom.h
  firmware/thruna/BMS/Inc/App/App_Soc.h
  firmware/thruna/BMS/Inc/App/lut/App_Lut_CellVoltageToSoc.h
  firmware/thruna/BMS/Src/App/App_Accumulator.c
  firmware/thruna/BMS/Src/App/App_BmsWorld.c
  firmware/thruna/BMS/Src/App/App_Eeprom.c
  firmware/thruna/BMS/Src/App/App_Soc.c
  firmware/thruna/BMS/Src/App/states/App_AllStates.c
  firmware/thruna/BMS/Src/App/states/App_InitState.c
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/BMS/Test/Src/Test_Faults.cpp
  firmware/thruna/BMS/Test/Src/Test_SocVoting.cpp
  firmware/thruna/BMS/Test/Src/Test_StateMachine.cpp
Labels: BMS

#1088 resolved firmware git conflicts
  software/tracksight/backend/app/process/SignalUtil.py
  software/tracksight/backend/app/process/http_app.py
  software/tracksight/backend/app/process/socket_app.py
  software/tracksight/backend/app/telemetry.py
  software/tracksight/frontend/src/app/components/db/dropdown_menu.tsx
  software/tracksight/frontend/src/app/components/db/graph.tsx
  software/tracksight/frontend/src/app/components/db/query_data.tsx
  software/tracksight/frontend/src/app/components/db/timestamp_picker.tsx
  software/tracksight/frontend/src/app/components/live/dropdown_live.tsx
  software/tracksight/frontend/src/app/components/live/livegraph.tsx
  software/tracksight/frontend/src/app/components/live/web_socket.tsx
  software/tracksight/frontend/src/app/components/navbar.tsx
  software/tracksight/frontend/src/app/components/visualize.tsx
  software/tracksight/frontend/src/app/globals.css
  software/tracksight/frontend/src/app/page.module.css
  software/tracksight/frontend/src/app/page.tsx
Labels: Telemetry

#944 Refactor CAN driver
  firmware/dev/h7dev/CMakeLists.txt
  firmware/shared/CMakeLists.txt
  firmware/shared/src/hw/hw_can.c
  firmware/shared/src/hw/hw_can.h
  firmware/shared/src/hw/hw_hal.h
  firmware/shared/src/io/Io_SharedCan.c
  firmware/shared/src/io/Io_SharedCan.h
  firmware/shared/src/io/io_can.c
  firmware/shared/src/io/io_can.h
  firmware/shared/src/io/io_jsoncan.c
  firmware/shared/src/io/io_jsoncan.h
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/DCM/Src/main.c
  firmware/thruna/DIM/src/cubemx/Src/main.c
  firmware/thruna/DIM/src/io/io_canConfig.c
  firmware/thruna/DIM/src/io/io_canConfig.h
  firmware/thruna/FSM/Src/main.c
  firmware/thruna/PDM/Src/main.c
  scripts/code_generation/jsoncan/src/codegen/c_generation/c_config.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/io_can_rx_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/io_can_tx_module.py
  software/dimos/src/dev_io/can.cpp
  software/dimos/src/io/can.cpp
  software/dimos/src/io/can.h
  software/dimos/src/ui/main.cpp
  software/dimos/src/ui/mainwindow/mainwindow.cpp
Labels: Refactoring, CAN

#1042 Leahmariefernandez/abs value seg display
  firmware/thruna/DIM/src/app/app_sevenSegDisplays.c
  firmware/thruna/DIM/test/test_sevenSegDisplays.cpp
Labels: DIM

#1093 Add Cell Thermistors to CAN for Dyno Testing
  can_bus/json/BMS/BMS_tx.json
  firmware/thruna/BMS/Inc/App/App_Accumulator.h
  firmware/thruna/BMS/Inc/Io/Io_LTC6813/Io_LTC6813CellTemperatures.h
  firmware/thruna/BMS/Src/App/App_Accumulator.c
  firmware/thruna/BMS/Src/App/states/App_AllStates.c
  firmware/thruna/BMS/Src/App/states/App_FaultState.c
  firmware/thruna/BMS/Src/App/states/App_InitState.c
  firmware/thruna/BMS/Src/Io/Io_LTC6813/Io_LTC6813CellTemperatures.c
  firmware/thruna/BMS/Src/main.c
  firmware/thruna/BMS/Test/Src/Test_Faults.cpp
  firmware/thruna/BMS/Test/Src/Test_StateMachine.cpp
Labels: BMS

#1092 Auto Clang Formatting
  CMakeLists.txt
Labels: Build System/DevEx
