Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2024-05, with the labels that each got.

#1239 Calibrate Current Sensor
  firmware/quadruna/BMS/src/app/app_tractiveSystem.h
  firmware/quadruna/BMS/src/io/io_tractiveSystem.c
  firmware/quadruna/BMS/src/io/io_tractiveSystem.h
Labels: BMS

#1196 Shutdown Faults
  .idea/runConfigurations/Quadruna_BMS.xml
  can_bus/quadruna/BMS/BMS_tx.json
  can_bus/quadruna/CRIT/CRIT_tx.json
  can_bus/quadruna/FSM/FSM_tx.json
  can_bus/quadruna/VC/VC_alerts.json
  can_bus/quadruna/VC/VC_tx.json
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/io/io_bmsShdn.c
  firmware/quadruna/BMS/src/io/io_bmsShdn.h
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/CRIT/CMakeLists.txt
  firmware/quadruna/CRIT/src/app/app_mainState.c
  firmware/quadruna/CRIT/src/io/io_critShdn.c
  firmware/quadruna/CRIT/src/io/io_critShdn.h
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/CMakeLists.txt
  firmware/quadruna/FSM/src/app/app_mainState.c
  firmware/quadruna/FSM/src/io/io_fsmShdn.c
  firmware/quadruna/FSM/src/io/io_fsmShdn.h
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/src/app/app_globals.c
  firmware/quadruna/RSM/src/app/app_globals.h
  firmware/quadruna/RSM/src/app/app_mainState.c
  firmware/quadruna/VC/CMakeLists.txt
  firmware/quadruna/VC/src/app/app_shutdown.c
  firmware/quadruna/VC/src/app/app_shutdown.h
  firmware/quadruna/VC/src/app/states/app_allStates.c
  firmware/quadruna/VC/src/io/io_vcShdn.c
  firmware/quadruna/VC/src/io/io_vcShdn.h
  firmware/quadruna/VC/src/tasks.c
  firmware/quadruna/VC/src/tasks.h
  firmware/shared/src/app/app_shdnLoop.c
  firmware/shared/src/app/app_shdnLoop.h
Labels: Systems

#1233 SOC on SD Card
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/app_soc.c
  firmware/quadruna/BMS/src/app/app_soc.h
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/app/states/app_initState.c
  firmware/quadruna/BMS/src/cubemx/BMS.ioc
  firmware/quadruna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quadruna/BMS/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quadruna/BMS/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quadruna/BMS/src/cubemx/Src/main.c
  firmware/quadruna/BMS/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quadruna/BMS/src/cubemx/Src/stm32h7xx_it.c
  firmware/quadruna/BMS/src/io/io_sd.c
  firmware/quadruna/BMS/src/io/io_sd.h
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/BMS/test/test_bmsBaseStateMachineTest.h
  firmware/shared/src/hw/hw_sd.c
  firmware/shared/src/hw/hw_sd.h
Labels: BMS

#1210 Integrate file system logging to VC
  firmware/dev/h7dev/CMakeLists.txt
  firmware/dev/h7dev/boot/cubemx/Src/main.c
  firmware/dev/h7dev/src/cubemx/Src/main.c
  firmware/quadruna/BMS/boot/cubemx/Src/main.c
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/CRIT/boot/cubemx/Src/main.c
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/boot/cubemx/Src/main.c
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/boot/cubemx/Src/main.c
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/VC/CMakeLists.txt
  firmware/quadruna/VC/boot/cubemx/Src/main.c
  firmware/quadruna/VC/src/cubemx/Src/main.c
  firmware/quadruna/VC/src/cubemx/VC.ioc
  firmware/quadruna/VC/src/cubemx/VC.ioc.md5
  firmware/quadruna/VC/src/io/io_lfsConfig.c
  firmware/quadruna/VC/src/io/io_lfsConfig.h
  firmware/quadruna/VC/src/tasks.c
  firmware/quadruna/VC/src/tasks.h
  firmware/shared/src/hw/hw_sd.c
  firmware/shared/src/io/io_can.c
  firmware/shared/src/io/io_can.h
  firmware/shared/src/io/io_canLogging.c
  firmware/shared/src/io/io_canLogging.h
  firmware/shared/src/io/io_fileSystem_lfs.c
Labels: VC

#1228 Quadruna RSM Tests
  can_bus/quadruna/RSM/RSM_alerts.json
  can_bus/quadruna/RSM/RSM_tx.json
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/CMakeLists.txt
  firmware/quadruna/RSM/src/app/app_globals.c
  firmware/quadruna/RSM/src/app/app_globals.h
  firmware/quadruna/RSM/src/app/app_loadCell.c
  firmware/quadruna/RSM/src/app/app_mainState.c
  firmware/quadruna/RSM/src/hw/hw_watchdogConfig.c
  firmware/quadruna/RSM/src/hw/hw_watchdogConfig.h
  firmware/quadruna/RSM/src/io/io_brake_light.c
  firmware/quadruna/RSM/src/io/io_brake_light.h
  firmware/quadruna/RSM/src/io/io_fan.c
  firmware/quadruna/RSM/src/io/io_fan.h
  firmware/quadruna/RSM/src/io/io_loadCell.c
  firmware/quadruna/RSM/src/io/io_loadCell.h
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/RSM/test/test_app.cpp
  firmware/quadruna/RSM/test/test_canMsgs.cpp
  firmware/quadruna/RSM/test/test_coolant.cpp
  firmware/quadruna/RSM/test/test_faults.cpp
  firmware/quadruna/RSM/test/test_rsmBaseStateMachine.h
  firmware/quadruna/RSM/test/test_rsmBaseStateMachineTest.h
  firmware/shared/src/io/io_mechanicalLoad.c
Labels: FSM/RSM

#1255 Dockerize Tracksight
  Pipfile
  software/tracksight/backend/Dockerfile
  software/tracksight/backend/app/process/flask_apps/http_app.py
  software/tracksight/backend/app/process/influx_handler.py
  software/tracksight/docker-compose.yml
  software/tracksight/frontend/Dockerfile
  software/tracksight/frontend/next.config.js
Labels: Telemetry

#1280 Tracksight Backend Influx Refactor
  Pipfile
  environment/requirements.txt
  software/tracksight/backend/app/process/flask_apps/http_app.py
  software/tracksight/backend/app/process/influx_handler.py
  software/tracksight/backend/app/telemetry.py
  software/tracksight/docker-compose.yml
  software/tracksight/frontend/README.md
  software/tracksight/frontend/components.json
  software/tracksight/frontend/firebase.ts
  software/tracksight/frontend/package-lock.json
  software/tracksight/frontend/package.json
  software/tracksight/frontend/src/app/NavBar.tsx
  software/tracksight/frontend/src/app/globals.css
  software/tracksight/frontend/src/app/layout.tsx
  software/tracksight/frontend/src/app/visualize/dropdown_menu.tsx
  software/tracksight/frontend/src/app/visualize/graph.tsx
  software/tracksight/frontend/src/app/visualize/livegraph.tsx
  software/tracksight/frontend/src/app/visualize/page.tsx
  software/tracksight/frontend/src/app/visualize/timeplot.tsx
  software/tracksight/frontend/src/app/visualize/timestamp_picker.tsx
  software/tracksight/frontend/src/components/ui/sonner.tsx
  software/tracksight/frontend/src/lib/utils.ts
  software/tracksight/frontend/src/types/Utility.ts
  software/tracksight/frontend/tailwind.config.js
  software/tracksight/frontend/tailwind.config.ts
Labels: Telemetry

#1252 Quadruna CAN Charging
  .vscode/launch.json
  can_bus/quadruna/BMS/BMS_rx.json
  can_bus/quadruna/BMS/BMS_tx.json
  can_bus/quadruna/BRUSA/BRUSA_alerts.json
  can_bus/quadruna/BRUSA/BRUSA_enum.json
  can_bus/quadruna/BRUSA/BRUSA_rx.json
  can_bus/quadruna/BRUSA/BRUSA_tx.json
  can_bus/quadruna/Debug/Debug_tx.json
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/app_globals.c
  firmware/quadruna/BMS/src/app/app_globals.h
  firmware/quadruna/BMS/src/app/app_soc.c
  firmware/quadruna/BMS/src/app/app_tractiveSystem.c
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/app/states/app_chargeState.c
  firmware/quadruna/BMS/src/app/states/app_chargeState.h
  firmware/quadruna/BMS/src/app/states/app_driveState.c
  firmware/quadruna/BMS/src/app/states/app_initState.c
  firmware/quadruna/BMS/src/app/states/app_prechargeState.c
  firmware/quadruna/BMS/src/io/io_charger.c
  firmware/quadruna/BMS/src/io/io_charger.h
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/BMS/test/test_bmsBaseStateMachineTest.h
  firmware/quadruna/BMS/test/test_faults.cpp
  firmware/quadruna/BMS/test/test_stateMachine.cpp
  firmware/quadruna/CRIT/test/test_critBaseStateMachineTest.h
  firmware/quadruna/FSM/test/test_faults.cpp
  firmware/quadruna/RSM/test/test_faults.cpp
  firmware/quadruna/VC/test/test_stateMachine.cpp
  firmware/shared/src/app/app_heartbeatMonitor.c
  firmware/shared/src/app/app_heartbeatMonitor.h
  firmware/shared/test/test_heartbeatMonitor.cpp
Labels: BMS

#1286 Cell Balancing quick fix
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/tasks.c
Labels: BMS
