Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2024-01, with the labels that each got.

#1066 Improvements to Shared Heartbeat Driver
  can_bus/json/BMS/BMS_alerts.json
  can_bus/json/BMS/BMS_tx.json
  can_bus/json/DCM/DCM_alerts.json
  can_bus/json/DCM/DCM_tx.json
  can_bus/json/DIM/DIM_alerts.json
  can_bus/json/DIM/DIM_rx.json
  can_bus/json/DIM/DIM_tx.json
  can_bus/json/FSM/FSM_alerts.json
  can_bus/json/PDM/PDM_alerts.json
  can_bus/json/PDM/PDM_tx.json
  firmware/shared/src/app/App_SharedHeartbeatMonitor.c
  firmware/shared/src/app/App_SharedHeartbeatMonitor.h
  firmware/shared/test/App_TestSharedHeartbeatMonitor.cpp
  firmware/thruna/BMS/src/app/configs/App_HeartbeatMonitorConfig.h
  firmware/thruna/BMS/src/app/states/app_allStates.c
  firmware/thruna/BMS/src/app/states/app_faultState.c
  firmware/thruna/BMS/src/cubemx/Src/main.c
  firmware/thruna/BMS/test/test_bmsBaseStateMachineTest.h
  firmware/thruna/DCM/Inc/App/configs/App_HeartbeatMonitorConfig.h
  firmware/thruna/DCM/Src/App/states/App_AllStates.c
  firmware/thruna/DCM/Src/main.c
  firmware/thruna/DCM/Test/Src/Test_StateMachine.cpp
  firmware/thruna/DIM/src/app/configs/App_HeartbeatMonitorConfig.h
  firmware/thruna/DIM/src/app/states/app_driveState.c
  firmware/thruna/DIM/src/app/states/app_driveState.h
  firmware/thruna/DIM/src/cubemx/Src/main.c
  firmware/thruna/DIM/test/test_dimBaseStateMachineTest.h
  firmware/thruna/DIM/test/test_ledStatus.cpp
  firmware/thruna/FSM/src/app/configs/App_HeartbeatMonitorConfig.h
  firmware/thruna/FSM/src/app/states/app_driveState.c
  firmware/thruna/FSM/src/app/states/app_driveState.h
  firmware/thruna/FSM/src/cubemx/Src/main.c
  firmware/thruna/FSM/test/test_faults.cpp
  firmware/thruna/FSM/test/test_fsmBaseStateMachineTest.h
  firmware/thruna/PDM/src/app/configs/App_HeartbeatMonitorConfig.h
  firmware/thruna/PDM/src/app/states/app_allStates.c
  firmware/thruna/PDM/src/app/states/app_allStates.h
  firmware/thruna/PDM/src/cubemx/Src/main.c
  firmware/thruna/PDM/test/test_pdmBaseStateMachineTest.h
Labels: Refactoring, CAN

#1121 Update Clang Format to 17.0.1 (and support CLion)
  .clang-format
  .gitignore
  firmware/boot/f4boot/cubemx/Src/syscalls.c
  firmware/boot/f4boot/cubemx/Src/sysmem.c
  firmware/boot/f4boot/cubemx/Src/system_stm32f4xx.c
  firmware/boot/h7boot/cubemx/Src/syscalls.c
  firmware/dev/f4dev/cubemx/Src/syscalls.c
  firmware/dev/f4dev/cubemx/Src/system_stm32f4xx.c
  firmware/dev/h7dev/cubemx/Src/syscalls.c
  firmware/quadruna/VC/src/cubemx/Src/syscalls.c
  firmware/quadruna/VC/src/tasks.c
  firmware/shared/src/app/app_units.h
  firmware/shared/src/hw/hw_pwmInputFreqOnly.c
  firmware/shared/src/hw/hw_pwmInputFreqOnly.h
  firmware/shared/src/hw/hw_spi.c
  firmware/shared/src/hw/hw_spi.h
  firmware/shared/src/hw/hw_utils.h
  firmware/thruna/BMS/src/app/app_accumulator.c
  firmware/thruna/BMS/src/app/app_soc.c
  firmware/thruna/BMS/src/cubemx/Src/syscalls.c
  firmware/thruna/BMS/src/cubemx/Src/system_stm32f4xx.c
  firmware/thruna/BMS/src/io/ltc6813/io_ltc6813Shared.c
  firmware/thruna/BMS/src/tasks.c
  firmware/thruna/DCM/src/app/vehicle_dynamics/app_regen.c
  firmware/thruna/DCM/src/app/vehicle_dynamics/app_vehicleDynamics.h
  firmware/thruna/DCM/src/cubemx/Src/syscalls.c
  firmware/thruna/DCM/src/cubemx/Src/system_stm32f4xx.c
  firmware/thruna/DCM/src/io/io_sbgEllipse.c
  firmware/thruna/DCM/src/tasks.c
  firmware/thruna/DIM/src/cubemx/Src/syscalls.c
  firmware/thruna/DIM/src/cubemx/Src/system_stm32f4xx.c
  firmware/thruna/DIM/src/tasks.c
  firmware/thruna/FSM/src/app/app_brake.c
  firmware/thruna/FSM/src/cubemx/Src/syscalls.c
  firmware/thruna/FSM/src/cubemx/Src/system_stm32f4xx.c
  firmware/thruna/FSM/src/tasks.c
  firmware/thruna/PDM/src/cubemx/Src/syscalls.c
  firmware/thruna/PDM/src/cubemx/Src/system_stm32f4xx.c
  firmware/thruna/PDM/src/tasks.c
  scripts/clang_format/clang-format-10.0
  scripts/clang_format/clang-format-10.0-mac
  scripts/clang_format/clang-format-10.0.exe
  scripts/clang_format/clang-format-17.0.6
  scripts/clang_format/clang-format-17.0.6-mac
  scripts/clang_format/clang-format-17.0.6.exe
  scripts/clang_format/fix_formatting.py
  scripts/clang_format/update_guide.txt
  software/dimos/src/ui/squircle/squircle.cpp
  software/dimos/src/ui_widgets/mainwindow/ui_MainWindow.h
  software/dimos/src/ui_widgets/racing/ui_RacingBase.h
  software/dimos/src/ui_widgets/startup/ui_StartupPage.h
Labels: Build System/DevEx

#1124 FSM Setup for Quadruna
  .vscode/launch.json
  can_bus/quadruna/FSM/FSM_alerts.json
  can_bus/quadruna/FSM/FSM_enum.json
  can_bus/quadruna/FSM/FSM_rx.json
  can_bus/quadruna/FSM/FSM_tx.json
  firmware/quadruna/CMakeLists.txt
  firmware/quadruna/FSM/CMakeLists.txt
  firmware/quadruna/FSM/src/app/app_globals.c
  firmware/quadruna/FSM/src/app/app_globals.h
  firmware/quadruna/FSM/src/app/states/app_driveState.c
  firmware/quadruna/FSM/src/app/states/app_driveState.h
  firmware/quadruna/FSM/src/cubemx/FSM.ioc
  firmware/quadruna/FSM/src/cubemx/FSM.ioc.md5
  firmware/quadruna/FSM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quadruna/FSM/src/cubemx/Inc/main.h
  firmware/quadruna/FSM/src/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/quadruna/FSM/src/cubemx/Inc/stm32f4xx_it.h
  firmware/quadruna/FSM/src/cubemx/Src/freertos.c
  firmware/quadruna/FSM/src/cubemx/Src/main.c
  firmware/quadruna/FSM/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/quadruna/FSM/src/cubemx/Src/stm32f4xx_hal_timebase_tim.c
  firmware/quadruna/FSM/src/cubemx/Src/stm32f4xx_it.c
  firmware/quadruna/FSM/src/cubemx/Src/syscalls.c
  firmware/quadruna/FSM/src/cubemx/Src/sysmem.c
  firmware/quadruna/FSM/src/cubemx/Src/system_stm32f4xx.c
  firmware/quadruna/FSM/src/hw/hw_adc.c
  firmware/quadruna/FSM/src/hw/hw_adc.h
  firmware/quadruna/FSM/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/FSM/src/hw/hw_stackWaterMarkConfig.h
  firmware/quadruna/FSM/src/hw/hw_watchdogConfig.c
  firmware/quadruna/FSM/src/hw/hw_watchdogConfig.h
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/FSM/src/tasks.h
  firmware/quadruna/FSM/test/test_fsmBaseStateMachineTest.h
  firmware/quadruna/FSM/test/test_temp.cpp
Labels: FSM

#1131 CommitInfo Minimalism
  .github/actions/build_binary/action.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  firmware/cmake/shared.cmake
  firmware/dev/f4dev/CMakeLists.txt
  firmware/quadruna/VC/CMakeLists.txt
  firmware/thruna/BMS/CMakeLists.txt
  firmware/thruna/DCM/CMakeLists.txt
  firmware/thruna/DIM/CMakeLists.txt
  firmware/thruna/FSM/CMakeLists.txt
  firmware/thruna/PDM/CMakeLists.txt
  scripts/clang_format/fix_formatting.py
  scripts/code_generation/commit_info_gen/commit_info.cmake
  scripts/code_generation/commit_info_gen/src/templates/app_commitInfo.c.j2
  software/dimos/src/find_libs.cmake
  software/dimos/src/main.cpp
Labels: Build System/DevEx
