Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2024-10, with the labels that each got.

#1343 Remove Vscode Prelaunch Tasks for Tests
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  CMakeLists.txt
  CMakePresets.json
Labels: Testing

#1339 refactoring for torque based driving
  firmware/quadruna/VC/src/app/states/app_driveState.c
  firmware/quadruna/VC/src/app/vehicle_dynamics/app_activeDifferential.c
  firmware/quadruna/VC/src/app/vehicle_dynamics/app_torqueVectoring.c
  firmware/quadruna/VC/src/app/vehicle_dynamics/app_vehicleDynamics.h
  firmware/quadruna/VC/test/vehicle_dynamics/test_activeDifferential.cpp
Labels: Vehicle Controls

#1337 changed the clock source from SysTick to TIM2 and enabled FPU in Free…
  firmware/quadruna/BMS/src/cubemx/BMS.ioc
  firmware/quadruna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quadruna/BMS/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quadruna/BMS/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quadruna/BMS/src/cubemx/Src/main.c
  firmware/quadruna/BMS/src/cubemx/Src/stm32h7xx_hal_timebase_tim.c
  firmware/quadruna/BMS/src/cubemx/Src/stm32h7xx_it.c
Labels: BMS

#1368 Quick Fixes to C++ Rework
  .vscode/launch.json
  .vscode/tasks.json
  firmware/cmake/dependencies.cmake
  firmware/quintuna/CRIT/src/io/io_chimeraConfig.h
  firmware/shared/srcpp/io/io_chimera.cpp
Labels: Build System/DevEx
