Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2025-01, with the labels that each got.

#1411 ADC Refactor
  .idea/runConfigurations/Quadruna_BMS_Debug.xml
  .idea/runConfigurations/Quadruna_VC_Debug.xml
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/cubemx/Inc/main.h
  firmware/quadruna/BMS/src/hw/hw_adc.c
  firmware/quadruna/BMS/src/hw/hw_adc.h
  firmware/quadruna/BMS/src/hw/hw_adcs.c
  firmware/quadruna/BMS/src/hw/hw_adcs.h
  firmware/quadruna/BMS/src/io/io_airs.h
  firmware/quadruna/BMS/src/io/io_thermistors.h
  firmware/quadruna/BMS/src/io/io_tractiveSystem.h
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/CRIT/CMakeLists.txt
  firmware/quadruna/CRIT/src/cubemx/Inc/main.h
  firmware/quadruna/CRIT/src/hw/hw_adc.c
  firmware/quadruna/CRIT/src/hw/hw_adc.h
  firmware/quadruna/CRIT/src/hw/hw_adcs.c
  firmware/quadruna/CRIT/src/hw/hw_adcs.h
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/CMakeLists.txt
  firmware/quadruna/FSM/src/cubemx/Inc/main.h
  firmware/quadruna/FSM/src/hw/hw_adc.c
  firmware/quadruna/FSM/src/hw/hw_adcs.c
  firmware/quadruna/FSM/src/hw/hw_adcs.h
  firmware/quadruna/FSM/src/io/io_apps.h
  firmware/quadruna/FSM/src/io/io_brake.h
  firmware/quadruna/FSM/src/io/io_loadCell.h
  firmware/quadruna/FSM/src/io/io_steering.h
  firmware/quadruna/FSM/src/io/io_suspension.h
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/CMakeLists.txt
  firmware/quadruna/RSM/src/cubemx/Inc/main.h
  firmware/quadruna/RSM/src/hw/hw_adc.c
  firmware/quadruna/RSM/src/hw/hw_adc.h
  firmware/quadruna/RSM/src/hw/hw_adcs.c
  firmware/quadruna/RSM/src/hw/hw_adcs.h
  firmware/quadruna/RSM/src/io/io_coolant.c
  firmware/quadruna/RSM/src/io/io_coolant.h
  firmware/quadruna/RSM/src/io/io_loadCell.c
  firmware/quadruna/RSM/src/io/io_suspension.c
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/VC/CMakeLists.txt
  firmware/quadruna/VC/src/cubemx/Inc/main.h
  firmware/quadruna/VC/src/hw/hw_adc.c
  firmware/quadruna/VC/src/hw/hw_adc.h
  firmware/quadruna/VC/src/hw/hw_adcs.c
  firmware/quadruna/VC/src/hw/hw_adcs.h
  firmware/quadruna/VC/src/io/io_currentSensing.h
  firmware/quadruna/VC/src/io/io_efuse.c
  firmware/quadruna/VC/src/io/io_efuse.h
  firmware/quadruna/VC/src/io/io_lowVoltageBattery.h
  firmware/quadruna/VC/src/tasks.c
  firmware/shared/src/hw/hw_adc.c
  firmware/shared/src/hw/hw_adc.h
  firmware/shared/src/hw/hw_adcConversions.h
  firmware/shared/src/io/io_chimera.c
  firmware/shared/srcpp/hw/hw_adc.hpp
Labels: Drivers

#1418 small io_airs fix, bug from Thruna days
  firmware/quadruna/BMS/src/io/io_airs.c
  firmware/quadruna/BMS/src/io/io_airs.h
Labels: BMS

#1404 USB Drivers
  firmware/dev/f4dev/CMakeLists.txt
  firmware/dev/f4dev/src/cubemx/Src/usbd_cdc_if.c
  firmware/quadruna/VC/CMakeLists.txt
  firmware/shared/src/hw/hw_usb.c
  firmware/shared/src/hw/hw_usb.h
  firmware/shared/src/io/io_log.c
  scripts/usb_experiments/mirror_test.py
Labels: Drivers, Validation

#1390 BMS Quintuna Board Bring Up
  .vscode/tasks.json
  firmware/quintuna/BMS/CMakeLists.txt
  firmware/quintuna/BMS/boot/bootloaderConfig.h
  firmware/quintuna/BMS/boot/cubemx/BMS_boot.ioc
  firmware/quintuna/BMS/boot/cubemx/BMS_boot.ioc.md5
  firmware/quintuna/BMS/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/BMS/boot/cubemx/Inc/main.h
  firmware/quintuna/BMS/boot/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quintuna/BMS/boot/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/BMS/boot/cubemx/Src/freertos.c
  firmware/quintuna/BMS/boot/cubemx/Src/main.c
  firmware/quintuna/BMS/boot/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/BMS/boot/cubemx/Src/stm32h7xx_hal_timebase_tim.c
  firmware/quintuna/BMS/boot/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/BMS/boot/cubemx/Src/syscalls.c
  firmware/quintuna/BMS/boot/cubemx/Src/sysmem.c
  firmware/quintuna/BMS/boot/cubemx/Src/system_stm32h7xx.c
  firmware/quintuna/BMS/src/cubemx/BMS.ioc
  firmware/quintuna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quintuna/BMS/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/BMS/src/cubemx/Inc/main.h
  firmware/quintuna/BMS/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quintuna/BMS/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/BMS/src/cubemx/Src/freertos.c
  firmware/quintuna/BMS/src/cubemx/Src/main.c
  firmware/quintuna/BMS/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/BMS/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/BMS/src/cubemx/Src/syscalls.c
  firmware/quintuna/BMS/src/cubemx/Src/system_stm32h7xx.c
  firmware/quintuna/BMS/src/tasks.cpp
  firmware/quintuna/BMS/src/tasks.h
  firmware/quintuna/CMakeLists.txt
  scripts/utilities/generate_cube_code.py
Labels: BMS

#1388 STM setup for the DAM
  firmware/quintuna/CMakeLists.txt
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/boot/bootloaderConfig.h
  firmware/quintuna/DAM/boot/cubemx/DAM_boot.ioc
  firmware/quintuna/DAM/boot/cubemx/DAM_boot.ioc.md5
  firmware/quintuna/DAM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/DAM/boot/cubemx/Inc/main.h
  firmware/quintuna/DAM/boot/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quintuna/DAM/boot/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/DAM/boot/cubemx/Src/freertos.c
  firmware/quintuna/DAM/boot/cubemx/Src/main.c
  firmware/quintuna/DAM/boot/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/DAM/boot/cubemx/Src/stm32h7xx_hal_timebase_tim.c
  firmware/quintuna/DAM/boot/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/DAM/boot/cubemx/Src/syscalls.c
  firmware/quintuna/DAM/boot/cubemx/Src/sysmem.c
  firmware/quintuna/DAM/boot/cubemx/Src/system_stm32h7xx.c
  firmware/quintuna/DAM/src/cubemx/DAM.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc.md5
  firmware/quintuna/DAM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/DAM/src/cubemx/Inc/main.h
  firmware/quintuna/DAM/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quintuna/DAM/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/DAM/src/cubemx/Src/freertos.c
  firmware/quintuna/DAM/src/cubemx/Src/main.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/DAM/src/cubemx/Src/syscalls.c
  firmware/quintuna/DAM/src/cubemx/Src/sysmem.c
  firmware/quintuna/DAM/src/cubemx/Src/system_stm32h7xx.c
  firmware/quintuna/DAM/src/tasks.cpp
  firmware/quintuna/DAM/src/tasks.h
Labels: Telem/DAM

#1413 Increased CAN speed on all boards to 1Mbit/s
  can_bus/PcanProject.peproj
  firmware/quadruna/BMS/src/cubemx/BMS.ioc
  firmware/quadruna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quadruna/BMS/src/cubemx/Src/main.c
  firmware/quadruna/BMS/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quadruna/CRIT/src/cubemx/CRIT.ioc
  firmware/quadruna/CRIT/src/cubemx/CRIT.ioc.md5
  firmware/quadruna/CRIT/src/cubemx/Src/main.c
  firmware/quadruna/FSM/src/cubemx/FSM.ioc
  firmware/quadruna/FSM/src/cubemx/FSM.ioc.md5
  firmware/quadruna/FSM/src/cubemx/Src/main.c
  firmware/quadruna/RSM/src/cubemx/RSM.ioc
  firmware/quadruna/RSM/src/cubemx/RSM.ioc.md5
  firmware/quadruna/RSM/src/cubemx/Src/main.c
  firmware/quadruna/VC/src/cubemx/Src/main.c
  firmware/quadruna/VC/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quadruna/VC/src/cubemx/VC.ioc
  firmware/quadruna/VC/src/cubemx/VC.ioc.md5
Labels: CAN

#1369 Deinit sequences
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/src/tasks.c
Labels: Systems

#1429 Makes DAM Compile
  .github/workflows/ci.yml
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/boot/cubemx/Src/sysmem.c
  firmware/quintuna/DAM/src/cubemx/Src/sysmem.c
Labels: Telem/DAM

#1391 SSM Bring Up
  firmware/dev/CMakeLists.txt
  firmware/dev/SSM/CMakeLists.txt
  firmware/dev/SSM/boot/bootloaderConfig.h
  firmware/dev/SSM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/dev/SSM/boot/cubemx/Inc/main.h
  firmware/dev/SSM/boot/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/dev/SSM/boot/cubemx/Inc/stm32f4xx_it.h
  firmware/dev/SSM/boot/cubemx/SSM_boot.ioc
  firmware/dev/SSM/boot/cubemx/SSM_boot.ioc.md5
  firmware/dev/SSM/boot/cubemx/Src/freertos.c
  firmware/dev/SSM/boot/cubemx/Src/main.c
  firmware/dev/SSM/boot/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/dev/SSM/boot/cubemx/Src/stm32f4xx_hal_timebase_tim.c
  firmware/dev/SSM/boot/cubemx/Src/stm32f4xx_it.c
  firmware/dev/SSM/boot/cubemx/Src/syscalls.c
  firmware/dev/SSM/boot/cubemx/Src/system_stm32f4xx.c
  firmware/dev/SSM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/dev/SSM/src/cubemx/Inc/main.h
  firmware/dev/SSM/src/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/dev/SSM/src/cubemx/Inc/stm32f4xx_it.h
  firmware/dev/SSM/src/cubemx/SSM.ioc
  firmware/dev/SSM/src/cubemx/SSM.ioc.md5
  firmware/dev/SSM/src/cubemx/Src/freertos.c
  firmware/dev/SSM/src/cubemx/Src/main.c
  firmware/dev/SSM/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/dev/SSM/src/cubemx/Src/stm32f4xx_it.c
  firmware/dev/SSM/src/cubemx/Src/syscalls.c
  firmware/dev/SSM/src/cubemx/Src/system_stm32f4xx.c
  firmware/dev/SSM/src/tasks.c
  firmware/dev/SSM/src/tasks.h
Labels: Validation

#1392 FSM Bringup
  firmware/quintuna/CMakeLists.txt
  firmware/quintuna/FSM/CMakeLists.txt
  firmware/quintuna/FSM/boot/bootloaderConfig.h
  firmware/quintuna/FSM/boot/cubemx/FSM_boot.ioc
  firmware/quintuna/FSM/boot/cubemx/FSM_boot.ioc.md5
  firmware/quintuna/FSM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/FSM/boot/cubemx/Inc/main.h
  firmware/quintuna/FSM/boot/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/quintuna/FSM/boot/cubemx/Inc/stm32f4xx_it.h
  firmware/quintuna/FSM/boot/cubemx/Src/freertos.c
  firmware/quintuna/FSM/boot/cubemx/Src/main.c
  firmware/quintuna/FSM/boot/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/quintuna/FSM/boot/cubemx/Src/stm32f4xx_hal_timebase_tim.c
  firmware/quintuna/FSM/boot/cubemx/Src/stm32f4xx_it.c
  firmware/quintuna/FSM/boot/cubemx/Src/syscalls.c
  firmware/quintuna/FSM/boot/cubemx/Src/system_stm32f4xx.c
  firmware/quintuna/FSM/src/cubemx/FSM.ioc
  firmware/quintuna/FSM/src/cubemx/FSM.ioc.md5
  firmware/quintuna/FSM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/FSM/src/cubemx/Inc/main.h
  firmware/quintuna/FSM/src/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/quintuna/FSM/src/cubemx/Inc/stm32f4xx_it.h
  firmware/quintuna/FSM/src/cubemx/Src/freertos.c
  firmware/quintuna/FSM/src/cubemx/Src/main.c
  firmware/quintuna/FSM/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/quintuna/FSM/src/cubemx/Src/stm32f4xx_it.c
  firmware/quintuna/FSM/src/cubemx/Src/syscalls.c
  firmware/quintuna/FSM/src/cubemx/Src/system_stm32f4xx.c
  firmware/quintuna/FSM/src/tasks.cpp
  firmware/quintuna/FSM/src/tasks.h
Labels: FSM/RSM

#1437 New CI (Optimized)
  .github/actions/build_binary/action.yml
  .github/workflows/ci.yml
  environment/Dockerfile
  firmware/cmake/stmlib.cmake
  scripts/code_generation/commit_info_gen/commit_info.cmake
Labels: Build System/DevEx

#1438 Faster Clang Format
  scripts/utilities/fix_formatting.py
Labels: Build System/DevEx

#1436 Task Monitor
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/app_stackWaterMarks.c
  firmware/quadruna/BMS/src/cubemx/Inc/main.h
  firmware/quadruna/BMS/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/BMS/src/io/io_taskMonitors.c
  firmware/quadruna/BMS/src/io/io_taskMonitors.h
  firmware/quadruna/BMS/src/jobs.c
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/BMS/test/test_iovars.cpp
  firmware/quadruna/CRIT/CMakeLists.txt
  firmware/quadruna/CRIT/src/app/app_stackWaterMarks.c
  firmware/quadruna/CRIT/src/cubemx/Inc/main.h
  firmware/quadruna/CRIT/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/CRIT/src/hw/hw_stackWaterMarkConfig.h
  firmware/quadruna/CRIT/src/io/io_taskMonitors.c
  firmware/quadruna/CRIT/src/io/io_taskMonitors.h
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/CRIT/test/test_iovars.cpp
  firmware/quadruna/FSM/CMakeLists.txt
  firmware/quadruna/FSM/src/app/app_stackWaterMarks.c
  firmware/quadruna/FSM/src/cubemx/Inc/main.h
  firmware/quadruna/FSM/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/FSM/src/hw/hw_stackWaterMarkConfig.h
  firmware/quadruna/FSM/src/io/io_taskMonitors.c
  firmware/quadruna/FSM/src/io/io_taskMonitors.h
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/FSM/test/test_iovars.cpp
  firmware/quadruna/RSM/CMakeLists.txt
  firmware/quadruna/RSM/src/app/app_stackWaterMarks.c
  firmware/quadruna/RSM/src/cubemx/Inc/main.h
  firmware/quadruna/RSM/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/RSM/src/hw/hw_stackWaterMarkConfig.h
  firmware/quadruna/RSM/src/io/io_taskMonitors.c
  firmware/quadruna/RSM/src/io/io_taskMonitors.h
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/RSM/test/test_iovars.cpp
  firmware/quadruna/VC/CMakeLists.txt
  firmware/quadruna/VC/src/app/app_stackWaterMarks.c
  firmware/quadruna/VC/src/cubemx/Inc/main.h
  firmware/quadruna/VC/src/hw/hw_stackWaterMarkConfig.c
  firmware/quadruna/VC/src/hw/hw_stackWaterMarkConfig.h
  firmware/quadruna/VC/src/io/io_taskMonitors.c
  firmware/quadruna/VC/src/io/io_taskMonitors.h
  firmware/quadruna/VC/src/jobs.c
  firmware/quadruna/VC/src/tasks.c
  firmware/quadruna/VC/test/test_iovars.cpp
  firmware/quintuna/BMS/boot/cubemx/Src/sysmem.c
  firmware/quintuna/CRIT/CMakeLists.txt
  firmware/shared/src/app/app_stackWaterMarks.h
  firmware/shared/src/hw/hw_stackWaterMark.c
  firmware/shared/src/hw/hw_stackWaterMark.h
  firmware/shared/src/io/io_taskMonitor.c
  firmware/shared/src/io/io_taskMonitor.h
Labels: Systems

#1428 Move Self Heartbeat Broadcaster
  firmware/quadruna/BMS/src/app/app_heartbeatMonitors.c
  firmware/quadruna/BMS/src/jobs.c
  firmware/quadruna/CRIT/src/app/app_heartbeatMonitors.c
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/src/app/app_mainState.c
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/src/app/app_heartbeatMonitors.c
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/VC/src/app/app_heartbeatMonitors.c
  firmware/quadruna/VC/src/jobs.c
  firmware/shared/src/app/app_heartbeatMonitor.c
  firmware/shared/src/app/app_heartbeatMonitor.h
Labels: Systems
