Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2025-05, with the labels that each got.

#1375 Cell Characterization Setup
  validationtools/validationtools/characterize_cell.py
  validationtools/validationtools/loadBank/template.py
  validationtools/validationtools/logger/logger.py
  validationtools/validationtools/process_cell_data.py
Labels: BMS

#1541 DAM IO
  firmware/cmake/bootlib.cmake
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/src/cubemx/DAM.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc.md5
  firmware/quintuna/DAM/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/DAM/src/cubemx/Src/main.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/DAM/src/hw/hw_i2cs.c
  firmware/quintuna/DAM/src/hw/hw_i2cs.h
  firmware/quintuna/DAM/src/io/io_buzzer.c
  firmware/quintuna/DAM/src/io/io_buzzer.h
  firmware/quintuna/DAM/src/io/io_rtc.c
  firmware/quintuna/DAM/src/io/io_rtc.h
  firmware/quintuna/DAM/src/io/io_shdn_loop.c
  firmware/quintuna/DAM/src/io/io_shdn_loop.h
  firmware/quintuna/DAM/src/io/io_telemMessage.c
  firmware/quintuna/DAM/src/io/io_tsim.c
  firmware/quintuna/DAM/src/io/io_tsim.h
  firmware/quintuna/DAM/src/jobs.c
  firmware/quintuna/DAM/src/tasks.c
Labels: Telem/DAM

#1569 Reset Reason CAN Integration
  can_bus/quintuna/BMS/BMS_tx.json
  can_bus/quintuna/CRIT/CRIT_alerts.json
  can_bus/quintuna/CRIT/CRIT_tx.json
  can_bus/quintuna/DAM/DAM_alerts.json
  can_bus/quintuna/DAM/DAM_enum.json
  can_bus/quintuna/DAM/DAM_rx.json
  can_bus/quintuna/DAM/DAM_tx.json
  can_bus/quintuna/Debug/Debug_tx.json
  can_bus/quintuna/FSM/FSM_alerts.json
  can_bus/quintuna/FSM/FSM_tx.json
  can_bus/quintuna/RSM/RSM_tx.json
  can_bus/quintuna/VC/VC_alerts.json
  can_bus/quintuna/VC/VC_tx.json
  can_bus/quintuna/shared_enum.json
  firmware/quintuna/BMS/CMakeLists.txt
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/CRIT/CMakeLists.txt
  firmware/quintuna/CRIT/src/tasks.c
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/FSM/CMakeLists.txt
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/RSM/CMakeLists.txt
  firmware/quintuna/RSM/src/tasks.c
  firmware/quintuna/VC/CMakeLists.txt
  firmware/quintuna/VC/src/tasks.c
  firmware/shared/src/hw/hw_resetReason.h
Labels: Systems

#1547 FSM app implementation
  can_bus/quintuna/FSM/FSM_alerts.json
  can_bus/quintuna/FSM/FSM_enum.json
  can_bus/quintuna/FSM/FSM_rx.json
  can_bus/quintuna/FSM/FSM_tx.json
  can_bus/quintuna/VC/VC_alerts.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/quintuna/FSM/CMakeLists.txt
  firmware/quintuna/FSM/src/app/app_apps.c
  firmware/quintuna/FSM/src/app/app_apps.h
  firmware/quintuna/FSM/src/app/app_brake.c
  firmware/quintuna/FSM/src/app/app_brake.h
  firmware/quintuna/FSM/src/app/app_imu.c
  firmware/quintuna/FSM/src/app/app_imu.h
  firmware/quintuna/FSM/src/app/app_mainState.c
  firmware/quintuna/FSM/src/app/app_mainState.h
  firmware/quintuna/FSM/src/app/app_shdnLoop.c
  firmware/quintuna/FSM/src/app/app_steering.c
  firmware/quintuna/FSM/src/app/app_steering.h
  firmware/quintuna/FSM/src/app/app_suspension.c
  firmware/quintuna/FSM/src/app/app_suspension.h
  firmware/quintuna/FSM/src/io/io_apps.h
  firmware/quintuna/FSM/src/io/io_brake.c
  firmware/quintuna/FSM/src/io/io_brake.h
  firmware/quintuna/FSM/src/io/io_imu_config.h
  firmware/quintuna/FSM/src/io/io_imus.c
  firmware/quintuna/FSM/src/io/io_steering.h
  firmware/quintuna/FSM/src/io/io_suspension.h
  firmware/quintuna/FSM/src/jobs.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/FSM/test/testMocks.cpp
Labels: FSM/RSM

#1575 app_irs.c and .h done
  can_bus/quintuna/BMS/BMS_enum.json
  can_bus/quintuna/BMS/BMS_tx.json
  firmware/quintuna/BMS/src/app/app_irs.c
  firmware/quintuna/BMS/src/app/app_irs.h
Labels: BMS

#1574 initial implementation for tractiveSystem app layer
  .github/workflows/ci.yml
  can_bus/quintuna/BMS/BMS_alerts.json
  can_bus/quintuna/BMS/BMS_tx.json
  firmware/quintuna/BMS/src/app/app_tractiveSystem.c
  firmware/quintuna/BMS/src/app/app_tractiveSystem.h
  firmware/quintuna/BMS/src/io/io_tractiveSystem.c
Labels: BMS

#1579 color??
  CMakeLists.txt
Labels: Build System/DevEx

#1577 SBG Deprecation Error Fix
  firmware/quadruna/VC/src/io/io_sbgEllipse.c
Labels: Build System/DevEx

#1592 Poggers
  firmware/cmake/sbgecomlib.cmake
Labels: Build System/DevEx

#1570 Regen Simulink
  software/vehicle_modelling_and_controls/regen.slx
Labels: Vehicle Controls

#1573 ExitCodes in CAN
  firmware/boot/bootloader.c
  firmware/cmake/bootlib.cmake
  firmware/dev/h7dev/CMakeLists.txt
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/CRIT/src/tasks.c
  firmware/quadruna/FSM/src/tasks.c
  firmware/quadruna/RSM/src/tasks.c
  firmware/quadruna/VC/src/tasks.c
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/CRIT/CMakeLists.txt
  firmware/quintuna/CRIT/src/tasks.c
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/RSM/src/tasks.c
  firmware/quintuna/VC/src/tasks.c
  firmware/shared/src/hw/hw_can.h
  firmware/shared/src/hw/hw_can_f4.c
  firmware/shared/src/hw/hw_can_h7.c
  firmware/shared/src/hw/hw_fdcan.h
Labels: CAN, Systems

#1600 Clear RX table API JSONCAN
  scripts/code_generation/jsoncan/src/can_database.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/app_can_rx_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/app_can_utils_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canAlerts.c.j2
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canAlerts.h.j2
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canRx.c.j2
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canRx.h.j2
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canUtils.c.j2
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/app_canUtils.h.j2
Labels: Telem/DAM

#1589 Smart Chimera Enable
  firmware/chimera_v2/README.md
  firmware/dev/SSM/src/cubemx/Src/main.c
  firmware/dev/SSM/src/cubemx/Src/usbd_conf.c
  firmware/dev/f4dev/src/cubemx/Src/main.c
  firmware/dev/f4dev/src/cubemx/Src/usbd_conf.c
  firmware/dev/h7dev/CMakeLists.txt
  firmware/dev/h7dev/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/BMS/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/CRIT/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/CRIT/src/tasks.c
  firmware/quintuna/DAM/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/FSM/src/cubemx/Inc/usbd_cdc_if.h
  firmware/quintuna/FSM/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/FSM/src/hw/hw_sysviewDescConfig.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/RSM/src/cubemx/Src/main.c
  firmware/quintuna/RSM/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/RSM/src/tasks.c
  firmware/quintuna/VC/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/VC/src/tasks.c
  firmware/shared/src/hw/hw_chimera_v2.c
  firmware/shared/src/hw/hw_chimera_v2.h
  firmware/shared/src/hw/hw_spi.c
  firmware/shared/src/hw/hw_spi.h
  firmware/shared/src/hw/hw_usb.c
  firmware/shared/src/hw/hw_usb.h
Labels: Validation

#1603 BMS Heartbeat
  can_bus/quintuna/BMS/BMS_alerts.json
  can_bus/quintuna/BMS/BMS_rx.json
  firmware/quintuna/BMS/CMakeLists.txt
  firmware/quintuna/BMS/src/app/app_heartbeatMonitors.c
  firmware/quintuna/BMS/src/app/app_heartbeatMonitors.h
  firmware/quintuna/BMS/src/jobs.c
Labels: BMS

#1518 FSM implementation
  can_bus/quintuna/FSM/FSM_alerts.json
  can_bus/quintuna/FSM/FSM_enum.json
  can_bus/quintuna/FSM/FSM_rx.json
  can_bus/quintuna/FSM/FSM_tx.json
  firmware/cmake/shared.cmake
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/CRIT/CMakeLists.txt
  firmware/quadruna/FSM/CMakeLists.txt
  firmware/quadruna/RSM/CMakeLists.txt
  firmware/quadruna/VC/CMakeLists.txt
  firmware/quintuna/FSM/CMakeLists.txt
  firmware/quintuna/FSM/src/app/app_apps.c
  firmware/quintuna/FSM/src/app/app_apps.h
  firmware/quintuna/FSM/src/app/app_brake.c
  firmware/quintuna/FSM/src/app/app_brake.h
  firmware/quintuna/FSM/src/app/app_imu.c
  firmware/quintuna/FSM/src/app/app_imu.h
  firmware/quintuna/FSM/src/app/app_shdnLoop.c
  firmware/quintuna/FSM/src/app/app_steering.c
  firmware/quintuna/FSM/src/app/app_steering.h
  firmware/quintuna/FSM/src/app/app_suspension.c
  firmware/quintuna/FSM/src/app/app_suspension.h
  firmware/quintuna/FSM/src/hw/hw_adcs.c
  firmware/quintuna/FSM/src/hw/hw_cans.c
  firmware/quintuna/FSM/src/io/io_apps.c
  firmware/quintuna/FSM/src/io/io_apps.h
  firmware/quintuna/FSM/src/io/io_brake.c
  firmware/quintuna/FSM/src/io/io_brake.h
  firmware/quintuna/FSM/src/io/io_fsmShdn.c
  firmware/quintuna/FSM/src/io/io_fsmShdn.h
  firmware/quintuna/FSM/src/io/io_imus.c
  firmware/quintuna/FSM/src/io/io_steering.c
  firmware/quintuna/FSM/src/io/io_steering.h
  firmware/quintuna/FSM/src/io/io_suspension.c
  firmware/quintuna/FSM/src/io/io_suspension.h
  firmware/quintuna/FSM/src/jobs.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/FSM/src/tasks.h
  firmware/quintuna/FSM/test/testMocks.cpp
  firmware/shared/test/test_baseStateMachineTest.h
Labels: FSM/RSM

#1397 FDCAN to 4MBIT
  can_bus/quadruna/RSM/RSM_tx.json
  can_bus/quadruna/VC/VC_tx.json
  firmware/cmake/embedded.cmake
  firmware/dev/h7dev/CMakeLists.txt
  firmware/dev/h7dev/src/cubemx/Inc/main.h
  firmware/dev/h7dev/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/dev/h7dev/src/cubemx/Inc/stm32h7xx_it.h
  firmware/dev/h7dev/src/cubemx/Src/main.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_hal_timebase_tim.c
  firmware/dev/h7dev/src/cubemx/Src/stm32h7xx_it.c
  firmware/dev/h7dev/src/cubemx/Src/usbd_conf.c
  firmware/dev/h7dev/src/cubemx/h7dev.ioc
  firmware/dev/h7dev/src/cubemx/h7dev.ioc.md5
  firmware/dev/h7dev/src/fdcan_spam.c
  firmware/dev/h7dev/src/fdcan_spam.h
  firmware/dev/h7dev/src/hw/hw_sds.c
  firmware/dev/h7dev/src/hw/hw_sds.h
  firmware/dev/h7dev/src/tasks.c
  firmware/dev/h7dev/src/tasks.h
  firmware/shared/src/hw/hw_can_h7.c
Labels: CAN, Systems

#1543 Quintuna CRIT IO and App
  can_bus/quintuna/BMS/BMS_rx.json
  can_bus/quintuna/BMS/BMS_tx.json
  can_bus/quintuna/CRIT/CRIT_alerts.json
  can_bus/quintuna/CRIT/CRIT_enum.json
  can_bus/quintuna/CRIT/CRIT_rx.json
  can_bus/quintuna/CRIT/CRIT_tx.json
  can_bus/quintuna/DAM/DAM_alerts.json
  can_bus/quintuna/DAM/DAM_enum.json
  can_bus/quintuna/DAM/DAM_rx.json
  can_bus/quintuna/VC/VC_enum.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/chimera_v2/proto/crit.proto
  firmware/quintuna/CRIT/CMakeLists.txt
  firmware/quintuna/CRIT/boot/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/quintuna/CRIT/src/app/app_heartbeatMonitors.c
  firmware/quintuna/CRIT/src/app/app_leds.c
  firmware/quintuna/CRIT/src/app/app_leds.h
  firmware/quintuna/CRIT/src/app/app_stackWaterMarks.c
  firmware/quintuna/CRIT/src/app/app_switches.c
  firmware/quintuna/CRIT/src/app/app_switches.h
  firmware/quintuna/CRIT/src/app/screens/app_screen_defines.h
  firmware/quintuna/CRIT/src/app/screens/app_screen_init.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_mainDrive.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_start_up.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_vd.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_warning.c
  firmware/quintuna/CRIT/src/app/screens/app_screens.c
  firmware/quintuna/CRIT/src/app/screens/app_screens.h
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc.md5
  firmware/quintuna/CRIT/src/cubemx/Inc/main.h
  firmware/quintuna/CRIT/src/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/quintuna/CRIT/src/cubemx/Inc/stm32f4xx_it.h
  firmware/quintuna/CRIT/src/cubemx/Src/main.c
  firmware/quintuna/CRIT/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/quintuna/CRIT/src/cubemx/Src/stm32f4xx_it.c
  firmware/quintuna/CRIT/src/hw/hw_chimeraConfig_v2.c
  firmware/quintuna/CRIT/src/hw/hw_gpios.c
  firmware/quintuna/CRIT/src/hw/hw_gpios.h
  firmware/quintuna/CRIT/src/hw/hw_pwms.c
  firmware/quintuna/CRIT/src/hw/hw_pwms.h
  firmware/quintuna/CRIT/src/io/io_rotary.c
  firmware/quintuna/CRIT/src/io/io_rotary.h
  firmware/quintuna/CRIT/src/io/io_shift_register.c
  firmware/quintuna/CRIT/src/io/io_shift_register.h
  firmware/quintuna/CRIT/src/io/io_switches.c
  firmware/quintuna/CRIT/src/io/io_switches.h
  firmware/quintuna/CRIT/src/io/io_taskMonitors.c
  firmware/quintuna/CRIT/src/io/io_taskMonitors.h
  firmware/quintuna/CRIT/src/jobs.c
  firmware/quintuna/CRIT/src/tasks.c
  firmware/shared/src/io/io_switch.c
  firmware/shared/src/io/io_switch.h
Labels: DIM [OS]

#1608 JSONCAN with FDCAN
  can_bus/quintuna/bus.json
  firmware/shared/src/hw/hw_can_h7.c
  scripts/code_generation/jsoncan/src/can_database.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/app_can_utils_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/io_can_tx_module.py
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/io_canTx.h.j2
  scripts/code_generation/jsoncan/src/codegen/dbc_generation/dbc_generation.py
  scripts/code_generation/jsoncan/src/json_parsing/json_can_parsing.py
  scripts/code_generation/jsoncan/src/json_parsing/parse_alert.py
  scripts/code_generation/jsoncan/src/json_parsing/parse_bus.py
  scripts/code_generation/jsoncan/src/json_parsing/parse_tx.py
  scripts/code_generation/jsoncan/test/integration/test_app_tables.cpp
  scripts/code_generation/jsoncan/test/integration/test_io_tx.cpp
  scripts/code_generation/jsoncan/test/integration/test_pack_unpack.cpp
  scripts/code_generation/jsoncan/test/json_configs/valid_json1/ECU1/ECU1_tx.json
  scripts/code_generation/jsoncan/test/json_configs/valid_json1/ECU2/ECU2_tx.json
  scripts/code_generation/jsoncan/test/json_configs/valid_json1/bus.json
  scripts/code_generation/jsoncan/test/unit/fixture.py
Labels: CAN

#1616 DAM more Setup
  .vscode/tasks.json
  can_bus/quintuna/DAM/DAM_tx.json
  can_bus/quintuna/VC/VC_enum.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/src/hw/hw_cans.c
  firmware/quintuna/DAM/src/io/io_tsim.c
  firmware/quintuna/DAM/src/io/io_tsim.h
  firmware/quintuna/DAM/src/jobs.c
  firmware/quintuna/DAM/src/jobs.h
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/DAM/src/tasks.h
  firmware/shared/src/io/io_canMsg.h
  scripts/code_generation/jsoncan/src/codegen/c_generation/template/io_canTx.c.j2
Labels: Telem/DAM

#1619 EMeter CAN Configs
  can_bus/quintuna/EMeter/EMeter_alerts.json
  can_bus/quintuna/EMeter/EMeter_enum.json
  can_bus/quintuna/EMeter/EMeter_rx.json
  can_bus/quintuna/EMeter/EMeter_tx.json
  can_bus/quintuna/bus.json
Labels: CAN

#1532 Improved stack monitor
  can_bus/quintuna/BMS/BMS_alerts.json
  can_bus/quintuna/BMS/BMS_tx.json
  can_bus/quintuna/CRIT/CRIT_alerts.json
  can_bus/quintuna/CRIT/CRIT_tx.json
  can_bus/quintuna/DAM/DAM_alerts.json
  can_bus/quintuna/DAM/DAM_tx.json
  can_bus/quintuna/FSM/FSM_alerts.json
  can_bus/quintuna/FSM/FSM_tx.json
  can_bus/quintuna/RSM/RSM_alerts.json
  can_bus/quintuna/RSM/RSM_tx.json
  can_bus/quintuna/VC/VC_alerts.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/boot/bootloader.c
  firmware/cmake/bootlib.cmake
  firmware/dev/f4dev/CMakeLists.txt
  firmware/dev/f4dev/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/dev/h7dev/CMakeLists.txt
  firmware/dev/h7dev/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/dev/h7dev/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/linker/stm32f412rgtx/stm32f412rgtx_memory.ld
  firmware/linker/stm32h733vgtx/stm32h733vgtx_memory.ld
  firmware/quintuna/BMS/CMakeLists.txt
  firmware/quintuna/BMS/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/BMS/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/CRIT/CMakeLists.txt
  firmware/quintuna/CRIT/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/CRIT/src/app/app_stackWaterMarks.c
  firmware/quintuna/CRIT/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/CRIT/src/io/io_taskMonitors.c
  firmware/quintuna/CRIT/src/io/io_taskMonitors.h
  firmware/quintuna/CRIT/src/jobs.c
  firmware/quintuna/CRIT/src/tasks.c
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/DAM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/FSM/CMakeLists.txt
  firmware/quintuna/FSM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/FSM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/RSM/CMakeLists.txt
  firmware/quintuna/RSM/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/RSM/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/RSM/src/tasks.c
  firmware/quintuna/VC/CMakeLists.txt
  firmware/quintuna/VC/boot/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/VC/src/cubemx/Inc/FreeRTOSConfig.h
  firmware/quintuna/VC/src/tasks.c
  firmware/shared/src/app/app_stackWaterMarks.h
  firmware/shared/src/hw/hw_bootup.c
  firmware/shared/src/hw/hw_bootup.h
  firmware/shared/src/hw/hw_freeRtosConfigs.c
  firmware/shared/src/hw/hw_freeRtosConfigs.h
  firmware/shared/src/io/io_bootHandler.c
  firmware/shared/src/io/io_taskMonitor.c
  firmware/shared/src/io/io_taskMonitor.h
Labels: Systems

#1625 Commit Info CAN IDs
  can_bus/quintuna/CRIT/CRIT_tx.json
  can_bus/quintuna/FSM/FSM_tx.json
Labels: CAN
