Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2025-04, with the labels that each got.

#1544 Cleanup Chimera V2 Examples, and Fix SPI Transact
  firmware/chimera_v2/README.md
  firmware/chimera_v2/chimera_v2.py
  firmware/chimera_v2/docs/chimera_v2.md
  firmware/chimera_v2/examples/crit_7_seg.py
  firmware/chimera_v2/examples/rsm_adc_read.py
  firmware/chimera_v2/examples/rsm_blinky.py
  firmware/chimera_v2/pyproject.toml
Labels: Validation

#1536 Reconfigure SSM PWM's to GPIOs
  firmware/dev/SSM/src/cubemx/Inc/main.h
  firmware/dev/SSM/src/cubemx/Inc/stm32f4xx_hal_conf.h
  firmware/dev/SSM/src/cubemx/Inc/stm32f4xx_it.h
  firmware/dev/SSM/src/cubemx/SSM.ioc
  firmware/dev/SSM/src/cubemx/SSM.ioc.md5
  firmware/dev/SSM/src/cubemx/Src/main.c
  firmware/dev/SSM/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/dev/SSM/src/cubemx/Src/stm32f4xx_it.c
Labels: Validation

#1557 RTC Implementation
  firmware/quintuna/DAM/src/hw/hw_i2cs.c
  firmware/quintuna/DAM/src/io/io_rtc.c
  firmware/quintuna/DAM/src/io/io_rtc.h
Labels: Telem/DAM

#1517 Bms quintuna io layer jack into main io
  .vscode/settings.json
  firmware/quintuna/BMS/src/hw/io_bmsShdn.c
  firmware/quintuna/BMS/src/hw/io_bmsShdn.h
  firmware/quintuna/BMS/src/hw/io_bspdTest.c
  firmware/quintuna/BMS/src/hw/io_bspdTest.h
  firmware/quintuna/BMS/src/hw/io_cans.c
  firmware/quintuna/BMS/src/hw/io_cans.h
  firmware/quintuna/BMS/src/hw/io_charger.c
  firmware/quintuna/BMS/src/hw/io_charger.h
  firmware/quintuna/BMS/src/hw/io_faultLatch.c
  firmware/quintuna/BMS/src/hw/io_faultLatch.h
  firmware/quintuna/BMS/src/hw/io_irs.c
  firmware/quintuna/BMS/src/hw/io_irs.h
  firmware/quintuna/BMS/src/hw/io_thermistors.c
  firmware/quintuna/BMS/src/hw/io_thermistors.h
  firmware/quintuna/BMS/src/io/io_bmsShdn.h
  firmware/quintuna/BMS/src/io/io_cans.c
  firmware/quintuna/BMS/src/io/io_cans.h
  firmware/quintuna/BMS/src/io/io_sd.c
  firmware/quintuna/BMS/src/io/io_sd.h
  firmware/quintuna/BMS/src/io/io_thermistors.c
  firmware/shared/src/io/io_thermistor.c
  firmware/shared/src/io/io_thermistor.h
Labels: BMS

#1558 Setup Dedicated Chimera task and Verbose Error Handling
  firmware/chimera_v2/README.md
  firmware/dev/SSM/src/cubemx/Src/main.c
  firmware/dev/f4dev/src/cubemx/Src/main.c
  firmware/dev/f4dev/src/cubemx/f4dev.ioc
  firmware/dev/f4dev/src/cubemx/f4dev.ioc.md5
  firmware/quintuna/BMS/CMakeLists.txt
  firmware/quintuna/BMS/src/cubemx/BMS.ioc
  firmware/quintuna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quintuna/BMS/src/cubemx/Inc/main.h
  firmware/quintuna/BMS/src/cubemx/Inc/stm32h7xx_hal_conf.h
  firmware/quintuna/BMS/src/cubemx/Src/main.c
  firmware/quintuna/BMS/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/BMS/src/hw/hw_watchdogConfig.c
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/BMS/src/tasks.h
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc.md5
  firmware/quintuna/CRIT/src/cubemx/Src/main.c
  firmware/quintuna/CRIT/src/tasks.c
  firmware/quintuna/CRIT/src/tasks.h
  firmware/quintuna/DAM/src/cubemx/DAM.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc.md5
  firmware/quintuna/DAM/src/cubemx/Src/main.c
  firmware/quintuna/DAM/src/tasks.c
  firmware/quintuna/DAM/src/tasks.h
  firmware/quintuna/FSM/src/cubemx/FSM.ioc
  firmware/quintuna/FSM/src/cubemx/FSM.ioc.md5
  firmware/quintuna/FSM/src/cubemx/Src/main.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/FSM/src/tasks.h
  firmware/quintuna/RSM/src/cubemx/RSM.ioc
  firmware/quintuna/RSM/src/cubemx/RSM.ioc.md5
  firmware/quintuna/RSM/src/cubemx/Src/main.c
  firmware/quintuna/RSM/src/tasks.c
  firmware/quintuna/RSM/src/tasks.h
  firmware/quintuna/VC/src/cubemx/Src/main.c
  firmware/quintuna/VC/src/cubemx/VC.ioc
  firmware/quintuna/VC/src/cubemx/VC.ioc.md5
  firmware/quintuna/VC/src/tasks.c
  firmware/quintuna/VC/src/tasks.h
  firmware/shared/src/hw/hw_chimera_v2.c
  firmware/shared/src/hw/hw_chimera_v2.h
  firmware/shared/src/hw/hw_usb.c
  firmware/shared/src/hw/hw_usb.h
  firmware/shared/src/hw/hw_watchdog.c
  images/chimera/stm/tasks.png
Labels: Validation

#1548 Fix SSM DAC
  firmware/dev/SSM/src/cubemx/SSM.ioc
  firmware/dev/SSM/src/cubemx/SSM.ioc.md5
  firmware/dev/SSM/src/cubemx/Src/main.c
Labels: Validation

#1531 Elcon communication CAN messages
  can_bus/quintuna/BMS/BMS_rx.json
  can_bus/quintuna/BMS/BMS_tx.json
  can_bus/quintuna/BRUSA/BRUSA_alerts.json
  can_bus/quintuna/BRUSA/BRUSA_enum.json
  can_bus/quintuna/BRUSA/BRUSA_rx.json
  can_bus/quintuna/BRUSA/BRUSA_tx.json
  can_bus/quintuna/Elcon/Elcon_alerts.json
  can_bus/quintuna/Elcon/Elcon_enum.json
  can_bus/quintuna/Elcon/Elcon_rx.json
  can_bus/quintuna/Elcon/Elcon_tx.json
Labels: BMS

#1560 Chunk Outgoing USB Packets to 64 Bytes
  firmware/chimera_v2/chimera_v2.py
  firmware/chimera_v2/docs/chimera_v2.md
  firmware/chimera_v2/pyproject.toml
Labels: Validation

#1556 BMS Quintuna IO Jack/Mat
  firmware/quintuna/BMS/src/io/io_bmsShdn.c
  firmware/quintuna/BMS/src/io/io_bmsShdn.h
  firmware/quintuna/BMS/src/io/io_bspdTest.c
  firmware/quintuna/BMS/src/io/io_bspdTest.h
  firmware/quintuna/BMS/src/io/io_charger.c
  firmware/quintuna/BMS/src/io/io_charger.h
  firmware/quintuna/BMS/src/io/io_faultLatch.c
  firmware/quintuna/BMS/src/io/io_faultLatch.h
  firmware/quintuna/BMS/src/io/io_irs.c
  firmware/quintuna/BMS/src/io/io_irs.h
  firmware/quintuna/BMS/src/io/io_thermistors.c
  firmware/quintuna/BMS/src/io/io_thermistors.h
  firmware/shared/src/io/io_thermistor.c
  firmware/shared/src/io/io_thermistor.h
Labels: BMS

#1477 LTC Driver Rewrite
  can_bus/quadruna/BMS/BMS_tx.json
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/app_accumulator.c
  firmware/quadruna/BMS/src/app/app_accumulator.h
  firmware/quadruna/BMS/src/app/app_diagnosticsMode.c
  firmware/quadruna/BMS/src/app/app_diagnosticsMode.h
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/app/states/app_balancingState.c
  firmware/quadruna/BMS/src/app/states/app_chargeState.c
  firmware/quadruna/BMS/src/app/states/app_faultState.c
  firmware/quadruna/BMS/src/app/states/app_initState.c
  firmware/quadruna/BMS/src/app/states/app_prechargeState.c
  firmware/quadruna/BMS/src/cubemx/BMS.ioc
  firmware/quadruna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quadruna/BMS/src/cubemx/Src/main.c
  firmware/quadruna/BMS/src/hw/hw_cans.c
  firmware/quadruna/BMS/src/hw/hw_spis.c
  firmware/quadruna/BMS/src/io/io_ltc6813.h
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813CellTemps.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813CellTemps.h
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813CellVoltages.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813CellVoltages.h
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813Shared.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813Shared.h
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_balance.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_cells.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_configs.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_internal.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_internal.h
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_owc.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_status.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_temps.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_tests.c
  firmware/quadruna/BMS/src/io/ltc6813/io_ltc6813_utils.c
  firmware/quadruna/BMS/src/jobs.c
  firmware/quadruna/BMS/src/jobs.h
  firmware/quadruna/BMS/src/tasks.c
  firmware/quadruna/BMS/test/test_bmsBaseStateMachineTest.h
  firmware/quintuna/BMS/src/cubemx/Src/main.c
  firmware/shared/src/app/app_utils.h
Labels: BMS

#1563 BMS Fix LTC PR Mistakes
  firmware/quadruna/BMS/CMakeLists.txt
  firmware/quadruna/BMS/src/app/states/app_allStates.c
  firmware/quadruna/BMS/src/cubemx/Src/main.c
  firmware/quadruna/BMS/src/tasks.c
  firmware/quintuna/BMS/src/cubemx/Src/main.c
Labels: BMS

#1564 starting io changes
  firmware/quintuna/BMS/src/cubemx/Inc/main.h
  firmware/quintuna/BMS/src/io/io_canQueueConfig.c
Labels: BMS

#1559 BMS Hotfix from Chimera
  firmware/quintuna/BMS/src/cubemx/BMS.ioc
  firmware/quintuna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quintuna/BMS/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/BMS/src/cubemx/Src/main.c
  firmware/quintuna/BMS/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/BMS/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/BMS/src/hw/hw_spis.c
  firmware/shared/src/hw/hw_usb.c
Labels: BMS

#1562 Setup DBC CI for Quintuna
  .github/actions/build_dbc/action.yml
  .github/workflows/dbc-release.yml
  .github/workflows/master_cd.yml
Labels: want_DBC

#1441 VC new state machine implementation
  firmware/quintuna/VC/CMakeLists.txt
  firmware/quintuna/VC/src/app/states/app_allStates.c
  firmware/quintuna/VC/src/app/states/app_allStates.h
  firmware/quintuna/VC/src/app/states/app_bmsOnState.c
  firmware/quintuna/VC/src/app/states/app_bmsOnState.h
  firmware/quintuna/VC/src/app/states/app_driveState.c
  firmware/quintuna/VC/src/app/states/app_driveState.h
  firmware/quintuna/VC/src/app/states/app_driveWarningState.c
  firmware/quintuna/VC/src/app/states/app_driveWarningState.h
  firmware/quintuna/VC/src/app/states/app_hvInitState.c
  firmware/quintuna/VC/src/app/states/app_hvInitState.h
  firmware/quintuna/VC/src/app/states/app_hvState.c
  firmware/quintuna/VC/src/app/states/app_hvState.h
  firmware/quintuna/VC/src/app/states/app_initState.c
  firmware/quintuna/VC/src/app/states/app_initState.h
  firmware/quintuna/VC/src/app/states/app_inverterOnState.c
  firmware/quintuna/VC/src/app/states/app_inverterOnState.h
  firmware/quintuna/VC/src/app/states/app_pcmOnState.c
  firmware/quintuna/VC/src/app/states/app_pcmOnState.h
Labels: VC

#1529 Shared Load Switch driver
  firmware/quintuna/VC/CMakeLists.txt
  firmware/shared/src/io/io_loadswitch.c
  firmware/shared/src/io/io_loadswitch.h
Labels: Systems
