Repository UBCFormulaElectric/Consolidated-Firmware, pull requests merged in 2025-06, with the labels that each got.

#1630 JSONCAN Node Check
  scripts/code_generation/jsoncan/src/json_parsing/json_can_parsing.py
Labels: CAN

#1599 Setup SD card on DAM
  .github/workflows/ci.yml
  can_bus/quintuna/DAM/DAM_alerts.json
  firmware/dev/h7dev/src/tasks.c
  firmware/logfs/CMakeLists.txt
  firmware/logfs/README.MD
  firmware/logfs/python/logfs/__init__.py
  firmware/logfs/python/logfs/disk.py
  firmware/logfs/python/logfs/fs.py
  firmware/logfs/python/pyproject.toml
  firmware/logfs/python/setup.py
  firmware/quadruna/VC/src/jobs.c
  firmware/quadruna/VC/src/tasks.c
  firmware/quintuna/DAM/CMakeLists.txt
  firmware/quintuna/DAM/src/cubemx/DAM.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc.md5
  firmware/quintuna/DAM/src/cubemx/Inc/main.h
  firmware/quintuna/DAM/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/DAM/src/cubemx/Src/main.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/DAM/src/io/io_rtc.h
  firmware/quintuna/DAM/src/jobs.c
  firmware/quintuna/DAM/src/tasks.c
  firmware/shared/src/app/app_jsoncan.c
  firmware/shared/src/io/io_canLogging.c
  firmware/shared/src/io/io_canLogging.h
  scripts/code_generation/jsoncan/src/can_database.py
  software/tracksight/backend/scripts/decode_raw_log.py
  software/tracksight/live_data/app/api/files_handler.py
  software/tracksight/live_data/app/api/historical_handler.py
  software/tracksight/live_data/app/api/http.py
  software/tracksight/live_data/app/api/socket.py
  software/tracksight/live_data/app/app.py
  software/tracksight/live_data/app/mDNS.py
  software/tracksight/live_data/app/middleware/candb.py
  software/tracksight/live_data/app/middleware/serial_port.py
  software/tracksight/live_data/app/settings.py
  software/tracksight/live_data/app/tasks/broadcaster.py
  software/tracksight/live_data/app/tasks/influx_logger.py
  software/tracksight/live_data/app/tasks/read_task/log.py
  software/tracksight/live_data/app/tasks/read_task/mock.py
  software/tracksight/live_data/app/tasks/read_task/wireless.py
Labels: Telem/DAM

#1649 New State Machine
  firmware/quintuna/BMS/src/app/states/app_chargeState.c
  firmware/quintuna/BMS/src/app/states/app_faultState.c
  firmware/quintuna/BMS/src/app/states/app_initState.c
  firmware/quintuna/BMS/src/app/states/app_prechargeChargeState.c
  firmware/quintuna/BMS/src/jobs.c
  firmware/quintuna/VC/src/app/states/app_bmsOnState.c
  firmware/quintuna/VC/src/app/states/app_driveState.c
  firmware/quintuna/VC/src/app/states/app_driveWarningState.c
  firmware/quintuna/VC/src/app/states/app_faultState.c
  firmware/quintuna/VC/src/app/states/app_hvInitState.c
  firmware/quintuna/VC/src/app/states/app_hvState.c
  firmware/quintuna/VC/src/app/states/app_initState.c
  firmware/quintuna/VC/src/app/states/app_inverterOnState.c
  firmware/quintuna/VC/src/app/states/app_pcmOnState.c
  firmware/quintuna/VC/src/jobs.c
  firmware/shared/src/app/app_stateMachine.c
  firmware/shared/src/app/app_stateMachine.h
Labels: Systems

#1651 Split app_segments into multiple source files
  can_bus/quadruna/BMS/BMS_tx.json
  can_bus/quintuna/BMS/BMS_tx.json
  firmware/quintuna/BMS/src/app/app_segments.c
  firmware/quintuna/BMS/src/app/app_segments.h
  firmware/quintuna/BMS/src/app/app_segments_setters.h
  firmware/quintuna/BMS/src/app/segments/app_segments_broadcast.c
  firmware/quintuna/BMS/src/app/segments/app_segments_configs.c
  firmware/quintuna/BMS/src/app/segments/app_segments_conversions.c
  firmware/quintuna/BMS/src/app/segments/app_segments_getters.c
  firmware/quintuna/BMS/src/app/segments/app_segments_internal.h
  firmware/quintuna/BMS/src/app/segments/app_segments_setters.c
  firmware/quintuna/BMS/src/app/states/app_chargeState.c
  firmware/quintuna/BMS/src/io/io_ltc6813.h
  firmware/quintuna/BMS/src/io/ltc6813/io_ltc6813_internal.h
  firmware/quintuna/BMS/src/tasks.c
Labels: BMS

#1652 BMS Faults
  can_bus/quintuna/BMS/BMS_alerts.json
  can_bus/quintuna/BMS/BMS_rx.json
  can_bus/quintuna/BMS/BMS_tx.json
  firmware/quintuna/BMS/src/app/app_segments.h
  firmware/quintuna/BMS/src/app/segments/app_segments_broadcast.c
  firmware/quintuna/BMS/src/app/segments/app_segments_configs.c
  firmware/quintuna/BMS/src/app/segments/app_segments_faults.c
  firmware/quintuna/BMS/src/app/segments/app_segments_internal.h
  firmware/quintuna/BMS/src/app/states/app_allStates.c
  firmware/quintuna/BMS/src/app/states/app_faultState.c
  firmware/quintuna/BMS/src/jobs.c
  firmware/quintuna/BMS/src/jobs.h
  firmware/quintuna/BMS/src/tasks.c
  firmware/quintuna/BMS/test/test_BMSBase.hpp
Labels: BMS

#1655 Quintuna Balancing
  can_bus/quintuna/BMS/BMS_enum.json
  can_bus/quintuna/BMS/BMS_tx.json
  firmware/quintuna/BMS/src/app/app_segments.h
  firmware/quintuna/BMS/src/app/segments/app_segments_balancing.c
  firmware/quintuna/BMS/src/app/segments/app_segments_broadcast.c
  firmware/quintuna/BMS/src/app/states/app_balancingState.c
  firmware/quintuna/BMS/src/app/states/app_balancingState.h
  firmware/quintuna/BMS/src/app/states/app_chargeState.c
  firmware/quintuna/BMS/src/app/states/app_initState.c
  firmware/quintuna/BMS/src/app/states/app_prechargeChargeState.c
  firmware/quintuna/BMS/src/cubemx/BMS.ioc
  firmware/quintuna/BMS/src/cubemx/BMS.ioc.md5
  firmware/quintuna/BMS/src/cubemx/Inc/main.h
  firmware/quintuna/BMS/src/cubemx/Src/main.c
  firmware/quintuna/BMS/src/jobs.c
  firmware/quintuna/BMS/src/tasks.c
  firmware/shared/src/hw/hw_can_h7.c
  scripts/code_generation/jsoncan/src/can_database.py
Labels: BMS

#1646 DAM SD working
  .vscode/launch.json
  .vscode/settings.json
  firmware/quadruna/VC/src/cubemx/VC.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc
  firmware/quintuna/DAM/src/cubemx/DAM.ioc.md5
  firmware/quintuna/DAM/src/cubemx/Inc/stm32h7xx_it.h
  firmware/quintuna/DAM/src/cubemx/Src/main.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_hal_msp.c
  firmware/quintuna/DAM/src/cubemx/Src/stm32h7xx_it.c
  firmware/quintuna/DAM/src/cubemx/Src/usbd_conf.c
  firmware/quintuna/DAM/src/hw/hw_sds.c
  firmware/quintuna/DAM/src/io/io_telemMessage.c
  firmware/quintuna/DAM/src/tasks.c
  firmware/shared/src/hw/hw_sd.c
  firmware/shared/src/hw/hw_sd.h
  firmware/shared/src/io/io_canLogging.c
  firmware/shared/src/io/io_fileSystem_logfs.c
Labels: Telem/DAM

#1615 Regen and Drive State Updates
  can_bus/quintuna/VC/VC_rx.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/quadruna/VC/src/app/vehicle_dynamics/app_torqueVectoring.c
  firmware/quintuna/VC/src/app/app_faultHandling.c
  firmware/quintuna/VC/src/app/states/app_driveState.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_activeDifferential.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_powerLimiting.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_regen.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_regen.h
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_torqueDistribution.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_torqueDistribution.h
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_torqueVectoring.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_vehicleDynamics.h
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_vehicleDynamicsConstants.h
  firmware/shared/src/app/app_utils.h
  firmware/shared/src/hw/hw_i2c.h
  firmware/shared/src/io/io_imu.h
Labels: Vehicle Controls

#1664 CRIT Drive Modes
  can_bus/quintuna/CRIT/CRIT_enum.json
  can_bus/quintuna/CRIT/CRIT_rx.json
  can_bus/quintuna/CRIT/CRIT_tx.json
  firmware/quintuna/CRIT/src/app/app_switches.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_mainDrive.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_vd.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_warning.c
  firmware/quintuna/CRIT/src/app/screens/app_screens.c
  firmware/quintuna/CRIT/src/app/screens/app_screens.h
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc
  firmware/quintuna/CRIT/src/cubemx/CRIT.ioc.md5
  firmware/quintuna/CRIT/src/cubemx/Inc/main.h
  firmware/quintuna/CRIT/src/cubemx/Src/main.c
  firmware/quintuna/CRIT/src/hw/hw_chimeraConfig_v2.c
  firmware/quintuna/CRIT/src/hw/hw_gpios.c
  firmware/quintuna/CRIT/src/hw/hw_gpios.h
  firmware/quintuna/CRIT/src/io/io_switches.c
  firmware/quintuna/CRIT/src/io/io_switches.h
  firmware/quintuna/VC/src/app/states/app_driveState.c
  firmware/shared/src/io/io_switch.c
  firmware/shared/src/io/io_switch.h
Labels: DIM [OS]

#1607 VC Power Monitoring
  can_bus/quintuna/VC/VC_enum.json
  can_bus/quintuna/VC/VC_tx.json
  firmware/linker/stm32h733vgtx/stm32h733vgtx_app.ld
  firmware/quintuna/VC/src/app/app_powerMonitoring.c
  firmware/quintuna/VC/src/app/app_powerMonitoring.h
  firmware/quintuna/VC/src/app/states/app_pcmOnState.c
  firmware/quintuna/VC/src/cubemx/Src/main.c
  firmware/quintuna/VC/src/cubemx/VC.ioc
  firmware/quintuna/VC/src/cubemx/VC.ioc.md5
  firmware/quintuna/VC/src/io/io_powerMonitoring.c
  firmware/quintuna/VC/src/io/io_powerMonitoring.h
  firmware/quintuna/VC/src/jobs.c
  firmware/quintuna/VC/src/jobs.h
  firmware/quintuna/VC/src/tasks.c
  firmware/quintuna/VC/src/tasks.h
Labels: VC

#1659 VC Heartbeat
  can_bus/quintuna/VC/VC_alerts.json
  can_bus/quintuna/VC/VC_rx.json
  firmware/quintuna/VC/src/app/app_heartbeatMonitors.c
  firmware/quintuna/VC/src/app/app_heartbeatMonitors.h
  firmware/quintuna/VC/src/jobs.c
Labels: VC

#1642 RSM/FSM sensor validation
  firmware/quintuna/FSM/src/cubemx/Src/main.c
  firmware/quintuna/FSM/src/io/io_apps.c
  firmware/quintuna/FSM/src/jobs.c
  firmware/quintuna/FSM/src/tasks.c
  firmware/quintuna/RSM/src/cubemx/Inc/stm32f4xx_it.h
  firmware/quintuna/RSM/src/cubemx/RSM.ioc
  firmware/quintuna/RSM/src/cubemx/RSM.ioc.md5
  firmware/quintuna/RSM/src/cubemx/Src/main.c
  firmware/quintuna/RSM/src/cubemx/Src/stm32f4xx_hal_msp.c
  firmware/quintuna/RSM/src/cubemx/Src/stm32f4xx_it.c
  firmware/quintuna/RSM/src/io/io_coolants.c
  firmware/quintuna/RSM/src/jobs.c
  firmware/quintuna/RSM/src/tasks.c
  firmware/shared/src/hw/hw_pwmInputFreqOnly.c
  firmware/shared/src/hw/hw_utils.c
Labels: FSM/RSM

#1645 RSM Brake
  can_bus/quadruna/FSM/FSM_tx.json
  can_bus/quintuna/FSM/FSM_alerts.json
  can_bus/quintuna/RSM/RSM_alerts.json
  can_bus/quintuna/RSM/RSM_tx.json
  firmware/quintuna/FSM/src/app/app_brake.c
  firmware/quintuna/FSM/src/app/app_brake.h
  firmware/quintuna/FSM/src/io/io_brake.c
  firmware/quintuna/RSM/CMakeLists.txt
  firmware/quintuna/RSM/src/app/app_brake.c
  firmware/quintuna/RSM/src/app/app_brake.h
  firmware/quintuna/RSM/src/io/io_brake.c
  firmware/quintuna/RSM/src/io/io_brake.h
Labels: FSM/RSM

#1671 VC Inshallah
  .github/workflows/ci.yml
  .vscode/launch.json
  can_bus/quintuna/FSM/FSM_tx.json
  can_bus/quintuna/VC/VC_enum.json
  can_bus/quintuna/VC/VC_tx.json
  can_bus/quintuna/shared_enum.json
  firmware/quadruna/VC/src/app/states/app_driveState.c
  firmware/quadruna/VC/src/app/vehicle_dynamics/app_regen.c
  firmware/quintuna/CRIT/src/app/screens/app_screen_init.c
  firmware/quintuna/FSM/src/app/app_shdnLoop.c
  firmware/quintuna/VC/CMakeLists.txt
  firmware/quintuna/VC/src/app/app_loadswitches.c
  firmware/quintuna/VC/src/app/app_powerManager.c
  firmware/quintuna/VC/src/app/app_sbgEllipse.c
  firmware/quintuna/VC/src/app/app_shdnLast.c
  firmware/quintuna/VC/src/app/app_shdnLoop.c
  firmware/quintuna/VC/src/app/app_startSwitch.c
  firmware/quintuna/VC/src/app/app_startSwitch.h
  firmware/quintuna/VC/src/app/app_warningHanding.h
  firmware/quintuna/VC/src/app/app_warningHandling.c
  firmware/quintuna/VC/src/app/app_warningHandling.h
  firmware/quintuna/VC/src/app/states/app_bmsOnState.c
  firmware/quintuna/VC/src/app/states/app_driveState.c
  firmware/quintuna/VC/src/app/states/app_hvInitState.c
  firmware/quintuna/VC/src/app/states/app_hvState.c
  firmware/quintuna/VC/src/app/states/app_initState.c
  firmware/quintuna/VC/src/app/states/app_inverterOnState.c
  firmware/quintuna/VC/src/app/states/app_pcmOnState.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_driveHandling.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_driveHandling.h
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_powerLimiting.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_regen.c
  firmware/quintuna/VC/src/app/vehicle_dynamics/app_torqueDistribution.c
  firmware/quintuna/VC/src/cubemx/VC.ioc
  firmware/quintuna/VC/src/cubemx/VC.ioc.md5
  firmware/quintuna/VC/src/io/io_loadswitches.c
  firmware/quintuna/VC/src/io/io_loadswitches.h
  firmware/quintuna/VC/src/io/io_vcShdn.c
  firmware/quintuna/VC/src/io/io_vcShdn.h
  firmware/quintuna/VC/src/jobs.c
  firmware/quintuna/VC/src/tasks.c
  firmware/quintuna/VC/test/test_VCBase.hpp
  firmware/quintuna/VC/test/test_VCCANMessages.cpp
  firmware/quintuna/VC/test/test_driveHandling.cpp
  firmware/quintuna/VC/test/test_powerManager.cpp
  firmware/quintuna/VC/test/test_pumpControl.cpp
  firmware/quintuna/VC/test/test_stateMachine.cpp
  firmware/quintuna/VC/test/vcFakes.cpp
  firmware/quintuna/VC/test/vcFakes.h
  firmware/shared/src/io/io_loadswitch.c
  firmware/shared/src/io/io_loadswitch.h
  firmware/shared/src_fake/io_loadswitch.cpp
Labels: VC
